<md-content md-no-ink ng-controller="ConfigurableMenuListController" ng-init="init()" id="configurableMenuList"
            class="configurableMenuList" layout="row" layout-md="row" layout-xs="row" layout-sm="row" layout-wrap
            layout-padding>
    <div id="configurableMenuHeader" layout="column" class="heading" ng-class="(IziBoxConfiguration.StepEnabled) ? 'high' : ''"
         style="align-items: center;margin-bottom: 10px">
        <div class="title">
            <h4 class="title-text configMenuTitle">{{product.Name}}</h4>
        </div>
        <div class="text-center">
            <md-button aria-label="NavigAttr" ng-repeat="attr in product.ProductAttributes track by $index"
                       class="{{attr.DisplayOrder}} buttonCatMenuList" ng-click="attributeNext($index)"
                       ng-class="{'buttonCatMenuListActive' : attr.classDisplay == 'flex' }"
                       ng-if="attr.ProductAttributeValues && attr.ProductAttributeValues.length > 0">
                {{attr.Name | Truncate:16}}
            </md-button>
        </div>
    </div>
    <div class="productsMenuList">
        <md-content class="attributes" id="attributes">
            <div id="att{{attribute.Id}}" ng-repeat="attribute in product.ProductAttributes track by $index"
                 class="attributeList {{attribute.classDisplay}}" displayorder="{{attribute.DisplayOrder}}"
                 ng-if="attribute.ProductAttributeValues && attribute.ProductAttributeValues.length > 0">
                <div class="attributesPanel" layout="column">
                    <div class="groupProductsCat">
                        <div layout="row" layout-xs="row" layout-wrap layout-align="center center">
                            <div ng-repeat="pav in attribute.ProductAttributeValues track by $index"
                                 class="caseAttribute productMenuList">
                                <md-button aria-label="attributeBox" layout-fill class="attributeBox attributeList"
                                           ng-class="{ 'disable': pav.LinkedProduct && pav.LinkedProduct.DisableBuyButton,
                                        'active' : pav.LinkedProduct && !pav.LinkedProduct.DisableBuyButton && pav.Selected == 1,
                                        'medium': $root.UserPreset && $root.UserPreset.ItemSize == 2 && mdMedia('min-width: 800px'),
                                        'big': (($root.UserPreset && $root.UserPreset.ItemSize == 3) || !$root.UserPreset) && mdMedia('min-width: 800px')}"
                                           ng-click="pav.LinkedProduct && pav.LinkedProduct.DisableBuyButton ?
                                           null : selectAttributeValue(pav.ProductAttributeId,pav.Id) ">
                                    <div layout="column" layout-align="space-between center" layout-fill>
                                        <div class="imageContainer">
                                            <div class="imgAttribute image progressive replace" ng-class="pav.DisableBuyButton ? 'rupture' : ''" data-href="{{pictureService.getPictureFileUrl(pav.LinkedProduct.Id, 'Product')}}">
                                                <img src='img/photo-non-disponible.png' alt='image' class="preview progressive" />
                                            </div>
                                        </div>
                                        <div class="attributeInfo-text">
                                            <div ng-show="pav.LinkedProduct" data-ng-bind-html="pav.LinkedProduct.Name"></div>
                                            <div ng-show="!pav.LinkedProduct" data-ng-bind-html="pav.Name"></div>
                                        </div>
                                        <div class="attributeInfo-text" layout="column" layout-align="center center">
                                            <div ng-show="pav.LinkedProduct && pav.LinkedProduct.DisableBuyButton">
                                                <i class="glyphicon glyphicon-warning-sign"></i>
                                                Rupture
                                            </div>
                                            <span class="priceAdjustment" ng-show="pav.PriceAdjustment">+ {{pav.PriceAdjustment | CurrencyFormat}} </span>
                                            <span ng-show="IziBoxConfiguration.StepEnabled && pav.Selected">{{attribute.Step | StepName:stepNames}}</span>
                                            <span class="attributeInfo-comment" ng-show="pav.Comment && pav.Comment!=''">{{pav.Comment}}</span>
                                        </div>
                                    </div>
                                </md-button>
                            </div>
                        </div>
                    </div>
                    <div layout="row" layout-xs="row" layout-wrap ng-show="attribute.Type === 3 && !attribute.IsLast"
                         layout-align="center center">
                        <md-button ng-click="goNextFromAttribute(attribute)" class="md-hue-2 md-warn etapeSuivante">
                            Etape Suivante
                        </md-button>
                    </div>
                </div>
            </div>
        </md-content>
        <md-card class="menuAction" layout="row" layout-align="center center">
            <div class="menuPrice"> {{TotalPrice | CurrencyFormat}}</div>
            <md-button aria-label="AddToCart" ng-click="addToSC(product)" ng-if="canAddToCart"
                       class="cartButton md-fab md-mini"><i class="glyphicon glyphicon-shopping-cart"></i></md-button>
        </md-card>
    </div>
</md-content>