<md-content class="IZIPASSTemplate" id="IZIPASSController"
            ng-controller="IZIPASSController"
            ng-init="init()"
>
    <category-repeat ng-if="!$root.modelPos.categoryLoading || useCache"
                     ng-class="{'leftHanded' : $root.UserPreset.HandPreference==2,
                    'rightHanded' : $root.UserPreset.HandPreference==1}"
                     layout="column" layout-xs="row" layout-sm="row"
                     delivery-type="deliveryType"
                     class="categoryContent" ng-cloak></category-repeat>
<!--<div id="categoryContent"
     ng-if="shouldRepeat"
     class="categoryContent"
     ng-class="{'leftHanded' : $root.UserPreset.HandPreference==2,
                'rightHanded' : $root.UserPreset.HandPreference==1}" ng-cloak>

    <md-content ng-if="model.subCategories && model.subCategories.length > 0"
                class="quickAccess"
                ng-class="{'subCategoriesHeading-pos': $mdMedia('(min-width: 800px)'),
                       'subCategoriesHeading-pad': $mdMedia('(max-width: 799px)')}">
        <md-button aria-label="NavigAttr"
                   class="md-raised navigAction scHeadingButton"
                   ng-click="scrollTo('Main')">
            <i class="glyphicon glyphicon-star"></i>
        </md-button>

        <div ng-repeat="subCat in ::model.subCategories track by $index">
            <md-button aria-label="NavigAttr"
                       ng-if="subCat.products && subCat.products.length >0"
                       class="md-raised navigAction scHeadingButton"
                       ng-click="scrollTo(subCat.Id)">
                {{subCat.Name | Truncate:16}}
            </md-button>
        </div>
    </md-content>

    <md-content id="allCategories" layout="column"
                ng-style="containerHeight" flex="85">
        <div id="cMain">
            <h1>{{model.category.Name}}</h1>


            <div layout="row" layout-wrap>
                <div ng-repeat="product in ::model.category.products track by $index" style="margin-bottom:4px">
                    <md-button class="productboxIZIPASS"
                               aria-label="product button"
                               ng-class="{'disabled': product.DisableBuyButton,
                            'small': $root.UserPreset.ItemSize == 1 || !$mdMedia('gt-sm'),
                            'medium': $root.UserPreset.ItemSize == 2 && $mdMedia('gt-sm'),
                            'big': $root.UserPreset.ItemSize == 3 && $mdMedia('gt-sm')}"
                               md-no-ink ng-click="addToCart(product.Id)">
                        <div layout="column" ng-if="($root.UserPreset.ItemSize != 0) || !$root.UserPreset"
                             layout-fill>
                            <div class="imageContainer">
                                <img alt="" ng-src="{{product.DefaultPictureUrl}}" class="image">
                            </div>
                            <div class="titleRow">
                                {{product.Name}}
                            </div>

                            <div class="price">
                            <span ng-if="!product.DisableBuyButton && product.Price && !product.EmployeeTypePrice">
                                {{product.Price | CurrencyFormat}}
                            </span>
                                <span ng-if="!product.DisableBuyButton && product.EmployeeTypePrice" translate>
                                Saisir le prix
                            </span>
                                <span ng-if="product.DisableBuyButton">
                                Rupture
                            </span>
                            </div>
                        </div>
                        <div layout="column" ng-if="$root.UserPreset.ItemSize ==0" layout-fill>
                            <div class="titleRow">
                                {{product.Name}}
                            </div>

                            <span flex></span>

                            <div class="descriptionRow" layout="row">
                                <img alt="" ng-src="{{product.DefaultPictureUrl}}" class="image">
                                <span flex></span>
                                <div class="price" ng-if="product.Price">
                                    {{product.Price | CurrencyFormat}}
                                </div>
                            </div>

                            <div>
                                <div class="action" title="Ajouter au panier"
                                     ng-if="!product.DisableBuyButton && product.ProductAttributes.length == 0 && !product.EmployeeTypePrice">
                                <span class="action-text" translate>
                                    Ajouter au ticket
                                </span>
                                </div>
                                <div class="action" title="Choisir produit"
                                     ng-if="!product.DisableBuyButton && product.ProductAttributes.length > 0 && !product.EmployeeTypePrice">
                                <span class="action-text" translate>
                                    Choisir produit
                                </span>
                                </div>
                                <div class="action" title="Saisir le prix"
                                     ng-if="!product.DisableBuyButton && product.ProductAttributes.length == 0 && product.EmployeeTypePrice">
                                <span class="action-text" translate>
                                    Saisir le prix
                                </span>
                                </div>
                                <div class="action disabled " title="Rupture" ng-if="product.DisableBuyButton">
                                <span class="action-text " translate>
                                    Rupture
                                </span>
                                </div>
                            </div>
                        </div>

                    </md-button>
                </div>
            </div>
        </div>

        <div ng-repeat="subCat in ::model.subCategories track by $index"
             class="subCategory"
             id="c{{subCat.Id}}">
            <h2>{{subCat.Name}}</h2>
            <div layout="row" layout-wrap>
                <div ng-repeat="product in ::subCat.products track by $index" style="margin-bottom:4px">
                    <md-button class="productboxIZIPASS"
                               ng-class="{'disabled': product.DisableBuyButton,
                            'small': ($root.UserPreset && $root.UserPreset.ItemSize == 1) || !$mdMedia('gt-sm'),
                            'medium': $root.UserPreset && $root.UserPreset.ItemSize == 2 && $mdMedia('gt-sm'),
                            'big': $root.UserPreset && $root.UserPreset.ItemSize == 3 && $mdMedia('gt-sm')}"
                               aria-label="product button"
                               md-no-ink ng-click="addToCart(product.Id)">

                        <div layout="column" ng-if="($root.UserPreset.ItemSize != 0) || !$root.UserPreset"
                             layout-fill>
                            <div class="imageContainer">
                                <img alt="" ng-src="{{product.DefaultPictureUrl}}" class="image">
                            </div>
                            <div class="titleRow">
                                {{product.Name}}
                            </div>

                            <div class="price">
                            <span ng-if="!product.DisableBuyButton && product.Price && !product.EmployeeTypePrice">
                                {{product.Price | CurrencyFormat}}
                            </span>
                                <span ng-if="!product.DisableBuyButton && product.EmployeeTypePrice" translate>
                                Saisir le prix
                            </span>
                                <span ng-if="product.DisableBuyButton">
                                Rupture
                            </span>
                            </div>
                        </div>

                        <div layout="column" ng-if="$root.UserPreset.ItemSize ==0" layout-fill>
                            <div class="titleRow">
                                {{product.Name}}
                            </div>

                            <span flex></span>

                            <div class="descriptionRow" layout="row">
                                <img alt="" ng-src="{{product.DefaultPictureUrl}}" class="image">
                                <span flex></span>
                                <div class="price" ng-if="product.Price">
                                    {{product.Price | CurrencyFormat}}
                                </div>
                            </div>

                            <div>
                                <div class="action" title="Ajouter au panier"
                                     ng-if="!product.DisableBuyButton && product.ProductAttributes.length == 0 && !product.EmployeeTypePrice">
                        <span class="action-text" translate>
                            Ajouter au ticket
                        </span>
                                </div>
                                <div class="action" title="Choisir produit"
                                     ng-if="!product.DisableBuyButton && product.ProductAttributes.length > 0 && !product.EmployeeTypePrice">
                        <span class="action-text" translate>
                            Choisir produit
                        </span>
                                </div>
                                <div class="action" title="Saisir le prix"
                                     ng-if="!product.DisableBuyButton && product.ProductAttributes.length == 0 && product.EmployeeTypePrice">
                        <span class="action-text" translate>
                            Saisir le prix
                        </span>
                                </div>
                                <div class="action disabled " title="Rupture" ng-if="product.DisableBuyButton">
                        <span class="action-text " translate>
                            Rupture
                        </span>
                                </div>
                            </div>
                        </div>
                    </md-button>
                </div>
            </div>
        </div>

    </md-content> -->
</div>


</md-content>
