<section ng-init="init()">
    <div class="modal-header">
        <h1 class="modal-title">{{category.Name}}</h1>
    </div>

    <div class="form-panel modal-body">
        <div layout="row" layout-wrap>
            <div ng-repeat="product in products track by $index"
                ng-init="productIsDisabled = product.DisableBuyButton || (product.ManageInventoryMethodId === 1 && product.StockQuantity <= 0)">

                <div ng-class="{'disabled productIPDisabled': productIsDisabled}" class="productboxIZIPASS big "
                    ng-click="addToSC(product)" layout-fill>
                    <div layout="column" layout-fill>

                        <div class="titleRow">
                            {{product.Name}}
                        </div>

                        <span flex></span>

                        <div class="descriptionRow" layout="row">
                            <div class="imageContainer">
                                <div class="image progressive replace"
                                    data-href="{{pictureService.getPictureFileUrl(product.Id, 'Product')}}">
                                    <img src='img/photo-non-disponible.png' alt='image' class="preview progressive" />
                                </div>
                            </div>
                            <span flex></span>
                        </div>
                        <div class="price" style="padding: 10px">
                            <span ng-if="!productIsDisabled && product.Price">{{product.Price | CurrencyFormat}}</span>
                            <span ng-if="productIsDisabled" translate>Rupture</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-rose" ng-click="cancel()" translate>Annuler</button>
    </div>
</section>