<section ng-init="init()">
    <div class="modal-header">
        <h1 class="modal-title" translate>Détail des espèces</h1>
    </div>
    <div class="modal-body">
        <div class="modal-cashvalues" layout="column">
            <div layout="row">
                <!--Bills-->
                <div layout="column" class="cashSepLine" flex>
                    <div ng-repeat="m in money.Values" ng-if="m.DevId === 1" class="cashLine" layout="row" layout-align="start center">
                        <div flex><img style="height:40px" ng-src="{{m.Picture}}" /></div>
                        <div flex="none" class="sign">X</div>
                        <div flex="33" layout="column">
                            <!--<input ng-click="editMoneyCount($event,b)" readonly style="line-height:30px; width:80%; font-size:18px" type="tel" id="txtAmount" ng-model="b.count" ng-keypress="$event.stopPropagation()" />-->
                            <text-field id="billAmount{{m.Value}}" ng-model="m.Denomination" ng-show="allowEdit" location="end-start" type="numeric" class="tfrounded"></text-field>
                            <span ng-show="!allowEdit" style="font-size: 20px;line-height: 20px;">{{m.Denomination}}</span>
                        </div>
                        <div flex="none" class="sign">=</div>
                        <div flex>{{(m.Value * m.Denomination) | RoundedValue | CurrencyFormat}}</div>
                        <div ng-show="isGlory" class="moneyStatus status{{m.Status}}"></div>
                    </div>
                </div>

                <!--Coins-->
                <div layout="column" style="padding: 10px" flex>
                    <div ng-repeat="m in money.Values" ng-if="m.DevId === 2" class="cashLine" layout="row" layout-align="start center">
                        <div flex><img style="height:40px" ng-src="{{m.Picture}}" /></div>
                        <div flex="none" class="sign">X</div>
                        <div flex="33" layout="column">
                            <!--<input ng-click="editMoneyCount($event,c)" readonly style="line-height:30px; width:80%; font-size:18px" type="tel" id="txtAmount" ng-model="c.count" ng-keypress="$event.stopPropagation()" />-->
                            <text-field id="coinAmount{{m.Value}}" ng-model="m.Denomination" ng-show="allowEdit"
                                        location="end-start" type="numeric" class="tfrounded"></text-field>
                            <span ng-show="!allowEdit" style="font-size: 20px;line-height: 20px;">{{m.Denomination}}</span>
                        </div>
                        <div flex="none" class="sign">=</div>
                        <div flex>{{(m.Value * m.Denomination) | RoundedValue | CurrencyFormat}}</div>
                        <div ng-show="isGlory" class="moneyStatus status{{m.Status}}"></div>
                    </div>
                </div>
            </div>
        </div>
        <!--<div data-ng-keypad="moneyKeypad" class="numpad" style="z-index:99999;height:320px">
            <div ng-include="model.keypad"></div>
        </div>-->
    </div>
    <div class="modal-footer">
        <div style="float:left">
            <span style="font-size:20px;font-weight:bold">Total : {{money.Total | CurrencyFormat}}</span>
        </div>
        <button class="btn btn-green" ng-click="ok()">OK</button>
        <button class="btn btn-rose" ng-click="cancel()" ng-show="allowEdit" translate>Annuler</button>
    </div>
</section>
