<section class="customerModal" ng-init="init()">
    <div class="modal-header">
        <h1 class="modal-title" translate>Client</h1>
    </div>

    <div class="form-panel modal-body">
        <uib-tabset>

            <uib-tab id="search">
                <tab-heading>
                    <x translate>RECHERCHE</x>
                </tab-heading>
                <div layout="column" layout-margin>

                    <div layout="row" layout-wrap style="align-items: center;">
                        <label flex-gt-sm="30" flex="100" translate>Nom, prénom, email, téléphone ou société</label>
                        <text-field flex="40" id="txtComment" class="flexbox" ng-model="search.query"
                                    location="center-end" type="azerty" validfunction="searchForCustomer"
                                    style="width:510px;margin-right:10px;min-height:34px;"></text-field>
                        <md-button flex="20" ng-click="searchForCustomer()"
                                   style="background-color:lightgrey;">Rechercher
                        </md-button>
                    </div>
                    <md-content layout-padding style="max-height:400px">
                        <div ng-if="search.results && search.results.length > 0" ng-repeat="client in search.results"
                             ng-click="selectCustomer(client.Barcode)"
                             ng-style="{ 'background-color' : (client.Barcode == currentShoppingCart.Barcode) ? 'rgba(171, 242, 150, 0.42)' : 'transparent' }">
                            <div layout="row">
                                <h4 flex="60" style="margin-top: 0">{{client.FirstName}} {{client.LastName}}</h4><h4 flex="40" style="margin-top: 0" ng-if="client.Company"><small translate>Société</small> : {{client.Company}}</h4>
                            </div>
                            <div layout="row">
                                <h4 flex="60">{{client.Email}}</h4><h4 flex="40" ng-if="client.PhoneNumber"><small translate>Téléphone</small> : {{client.PhoneNumber}}</h4>
                            </div>
                            <h4 tyle="margin-bottom: 0">
                                <small translate>N° de carte</small>
                                :
                                {{client.Barcode}}
                            </h4>
                            <hr />

                        </div>
                    </md-content>

                    <div class="card error" ng-if="search.results.length === 0" style="height:100px;">
                        <h4 style="margin-top: 8px; text-align: center" translate>Aucun résultat</h4>
                    </div>
                </div>
            </uib-tab>

            <uib-tab id="register">

                <tab-heading>
                    <x translate>EMAIL</x>
                </tab-heading>

                <div layout="column" layout-margin layout-align="">

                    <!-- PAGE 1 -->

                    <div layout="row" layout-align="space-around center" ng-show="(registerFull && currentPage == 1) || !registerFull">
                        <label flex="10" translate>Email</label>
                        <text-field flex="70" class="flexbox" id="email" ng-model="newLoyalty.CustomerEmail"
                                    location="center-end" type="azerty" validfunction="$root.closeKeyboard"
                                    style="width:510px;margin-right:10px;min-height:34px;"></text-field>
                    </div>

                    <div layout="row" layout-align="space-around center" ng-if="registerOperation=='registerFid'" ng-show="(registerFull && currentPage == 1) || !registerFull">
                        <label flex="10" translate>Prénom</label>
                        <text-field flex="70" id="firstName" class="flexbox" ng-model="newLoyalty.CustomerFirstName"
                                    location="center-end" type="azerty" validfunction="$root.closeKeyboard"
                                    style="width:510px;margin-right:10px;min-height:34px;"></text-field>
                    </div>

                    <div layout="row" layout-align="space-around center" ng-if="registerOperation=='registerFid'" ng-show="(registerFull && currentPage == 1) || !registerFull">
                        <label flex="10" translate>Nom</label>
                        <text-field flex="70" id="lastName" class="flexbox" ng-model="newLoyalty.CustomerLastName"
                                    location="center-end" type="azerty" validfunction="$root.closeKeyboard"
                                    style="width:510px;margin-right:10px;min-height:34px;"></text-field>
                    </div>

                    <!-- PAGE 2 -->

                    <div layout="row" layout-align="space-around center" ng-if="registerOperation=='registerFid' && signInSettings.City && registerFull" ng-show="(registerFull && currentPage == 2)">
                        <label flex="10" translate>Ville</label>
                        <text-field flex="70" id="city" class="flexbox" ng-model="newLoyalty.CustomerCity"
                                    location="center-end" type="azerty" validfunction="$root.closeKeyboard"
                                    style="width:510px;margin-right:10px;min-height:34px;"></text-field>
                    </div>

                    <div layout="row" layout-align="space-around center" ng-if="registerOperation=='registerFid' && signInSettings.StreetAddress && registerFull" ng-show="(registerFull && currentPage == 2)">
                        <label flex="10" translate>Adresse</label>
                        <text-field flex="70" id="streetAddress" class="flexbox"
                                    ng-model="newLoyalty.CustomerStreetAddress" location="center-end" type="azerty"
                                    validfunction="$root.closeKeyboard"
                                    style="width:510px;margin-right:10px;min-height:34px;"></text-field>
                    </div>


                    <div layout="row" layout-align="space-around center" ng-if="registerOperation=='registerFid' && signInSettings.StreetAddress2 && registerFull" ng-show="(registerFull && currentPage == 2) || !registerFull">
                        <label flex="10" translate>Adresse 2</label>
                        <text-field flex="70" id="streetAddress2" class="flexbox"
                                    ng-model="newLoyalty.CustomerStreetAddress2" location="center-end" type="azerty"
                                    validfunction="$root.closeKeyboard"
                                    style="width:510px;margin-right:10px;min-height:34px;"></text-field>
                    </div>



                    <!-- PAGE 3 -->

                    <div layout="row" layout-align="space-around center" ng-if="registerOperation=='registerFid' && signInSettings.ZipPostalCode && registerFull" ng-show="(registerFull && currentPage == 3)">
                        <label flex="10" translate>Code Postal</label>
                        <text-field flex="70" id="ZipPostalCode" class="flexbox"
                                    ng-model="newLoyalty.CustomerZipPostalCode" location="center-end" type="azerty"
                                    validfunction="$root.closeKeyboard"
                                    style="width:510px;margin-right:10px;min-height:34px;"></text-field>
                    </div>

                    <div layout="row" layout-align="space-around center" ng-if="registerOperation=='registerFid' && signInSettings.Phone && registerFull" ng-show="(registerFull && currentPage == 3)">
                        <label flex="10" translate>Téléphone</label>
                        <text-field flex="70" id="phone" class="flexbox" ng-model="newLoyalty.CustomerPhone"
                                    location="center-end" type="azerty" validfunction="$root.closeKeyboard"
                                    style="width:510px;margin-right:10px;min-height:34px;"></text-field>
                    </div>


                    <div layout="row" layout-align="space-around center" ng-if="registerOperation=='registerFid' && signInSettings.Fax && registerFull" ng-show="(registerFull && $root.currentPage == 3) || !registerFull">
                        <label flex="10" translate>Fax</label>
                        <text-field flex="70" id="fax" class="flexbox" ng-model="newLoyalty.CustomerFax"
                                    location="center-end" type="azerty" validfunction="$root.closeKeyboard"
                                    style="width:510px;margin-right:10px;min-height:34px;"></text-field>
                    </div>

                    <!-- PAGE 4 -->

                    <div layout="row" layout-align="space-around center" ng-if="registerOperation=='registerFid' && signInSettings.Company && registerFull" ng-show="(registerFull && $root.currentPage == 4)">
                        <label flex="10" translate>Société</label>
                        <text-field flex="70" id="company" class="flexbox" ng-model="newLoyalty.CustomerCompany"
                                    location="center-end" type="azerty" validfunction="$root.closeKeyboard"
                                    style="width:510px;margin-right:10px;min-height:34px;"></text-field>
                    </div>


                    <div class="barcodeTextField" layout="row" layout-align="space-around center" ng-if="registerOperation=='registerFid'" ng-show="(registerFull && $root.currentPage == 4) || !registerFull">
                        <label flex="10" translate>No Carte</label>
                        <div layout="row" layout-align="start center" flex="70">
                            <text-field id="txtBarcodeCustomer" class="flexbox"
                                        ng-model="newLoyalty.barcode.barcodeValue" location="center-end" type="azerty"
                                        validfunction="$root.closeKeyboard"
                                        style="width:510px;margin-right:10px;min-height:34px;"></text-field>
                            <md-button aria-label="scanBarcode" class="btnAction double" ng-click="scanBarcode()"><span
                                    class="glyphicon glyphicon-camera"></span></md-button>
                        </div>

                    </div>

                    <div style="margin-left:40%">
                        <ul ng-show="registerFull" direction-links="false" uib-pagination items-per-page="3" total-items="11" ng-model="$root.currentPage" ng-change="pageChanged()"></ul>
                    </div>


                    <div layout="row">
                        <!--<div flex="10" class="dummy"></div><md-checkbox ng-model="isLoyaltyEnabled.value" ng-true-value="'Fid'" ng-false-value="'NoFid'" flex="70">Créer un compte fidélité OU Récupérer l'email pour le ticket</md-checkbox>-->
                        <md-radio-group ng-model="registerOperation">
                            <md-radio-button ng-model="registerOperation" value="getEmail"
                                             ng-click="changeOperation('getEmail')">Enregistrer l'email pour le ticket
                            </md-radio-button>
                            <md-radio-button ng-model="registerOperation" value="registerFid"
                                             ng-click="changeOperation('registerFid')"> Enregistrer le client
                            </md-radio-button>

                            <div ng-show="registerOperation== 'registerFid' " style="margin-left: 40px;">
                                <input type="checkbox" id="registerFull" ng-click="toggleRegisterFull()" ng-checked="registerFull" style="width: 20px;height: 20px;">
                                <label for="registerFull">Enregistrement complet du client </label>
                            </div>
                        </md-radio-group>

                    </div>

                </div>
            </uib-tab>

            <uib-tab ng-if="currentShoppingCart.customerLoyalty">
                <tab-heading>
                    <x translate>INFORMATIONS</x>
                </tab-heading>
                <div layout="column" layout-margin>
                    <!-- #region Balances -->
                    <div class="text-center"
                         ng-if="containsBalanceType('Passages') && (currentShoppingCart.customerLoyalty.CustomerEmail || currentShoppingCart.customerLoyalty.AnonymousCustomer) && (!currentShoppingCart.customerLoyalty.OneRuleWithOrderAmount || currentShoppingCart.customerLoyalty.ForceDisplayAddPassage) && !currentShoppingCart.customerLoyalty.PartialCustomer"
                         style="margin-top: 16px;">
                        <button class="btn btn-lg bg-accent no-radius hvr-sink activated waves-effect"
                                ng-click="addPassage()">
                            <i translate class="icon ion-plus">AJOUTER UN PASSAGE</i>
                        </button>
                    </div>

                    <!-- #endregion -->
                    <!-- #region Offers -->
                    <ul class="izi-offers list-unstyled" ng-if="currentShoppingCart.customerLoyalty.Offers.length > 0"
                        style="margin-top: 24px;">
                        <li class="bg-accent hvr-sink waves-effect"
                            ng-repeat="offer in currentShoppingCart.customerLoyalty.Offers"
                            ng-if="offer.isValid==true">
                            <!--ng-click="showConfirm($event, offer)"-->
                            <b class="pull-right" ng-if="offer.Count>1">x{{offer.Count}}</b>

                            <h3 class="text-center no-mg-vert fid-item-title">
                                {{offer.OfferClassDescription}}
                            </h3>

                            <div class="text-center">
                                <b>{{offer.OfferObjectDescription}}</b><br/>
                            </div>
                        </li>
                    </ul>
                    <hr/>
                    <ul class="izi-balances list-unstyled" style="margin-top: 24px;">
                        <li data-ng-repeat="balance in currentShoppingCart.customerLoyalty.Balances"
                            class="{{balance.Value > 0 ? 'bg-accent' : 'bg-rouge'}}">
                            <h3 class="text-center no-mg-vert fid-item-title">{{balance.BalanceName}}</h3>

                            <div class="text-center">
                                <b style="font-size: 1.6em;">
                                    {{"Solde disponible" | translate}}: {{balance.Value}} {{balance.BalanceType ===
                                    'Dollar' ? '$' : balance.BalanceType}}
                                </b>
                            </div>
                        </li>
                    </ul>


                    <div class="card">
                        <div class="row">
                            <div class="col-sm-3 hidden-xs">
                                <div class="barcode-container center-block">
                                    <img class="img-responsive center-block barcode-img"
                                         data-ng-src="{{clientUrl}}/{{currentShoppingCart.customerLoyalty.Barcodes[0].BarcodeUrl}}"
                                         alt=""
                                         onerror="$('.barcode-container').slideUp(); $('.onMissingQR').fadeIn('slow')"/>

                                    <div class="text-center">
                                        <small class="blanc">{{"Carte n°" | translate}}
                                            {{currentShoppingCart.Barcode}}
                                        </small>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-9">
                                <h4 class="no-mg-vert" ng-if="currentShoppingCart.customerLoyalty.CustomerFirstName">
                                    <b translate>Prénom</b> :
                                    {{currentShoppingCart.customerLoyalty.CustomerFirstName}}
                                </h4>Z
                                <h4 class="no-mg-vert" ng-if="currentShoppingCart.customerLoyalty.CustomerLastName">
                                    <b translate>Nom</b> : {{currentShoppingCart.customerLoyalty.CustomerLastName}}
                                </h4>
                                <h4 class="no-mg-vert" ng-if="currentShoppingCart.customerLoyalty.CustomerEmail">
                                    <b translate>Email</b> :
                                    <a data-ng-href="mailto:{{currentShoppingCart.customerLoyalty.CustomerEmail}}">{{currentShoppingCart.customerLoyalty.CustomerEmail}}</a>
                                </h4>
                                <h4 class="no-mg-vert" ng-if="currentShoppingCart.customerLoyalty.CustomerPhone">
                                    <b translate>Téléphone</b> :
                                    <a data-ng-href="tel:{{currentShoppingCart.customerLoyalty.CustomerPhone}}">{{currentShoppingCart.customerLoyalty.CustomerPhone}}</a>
                                </h4>

                                <h4 class="no-mg-vert" ng-if="currentShoppingCart.deliveryAddress">
                                    <b translate>Adresse de livraison</b> :
                                    <div layout="row">
                                        <div flex>
                                            <div layout="row">{{currentShoppingCart.deliveryAddress.Address1}}</div>
                                            <div layout="row">{{currentShoppingCart.deliveryAddress.ZipPostalCode}}, {{currentShoppingCart.deliveryAddress.City}}</div>
                                        </div>

                                        <div flex>
                                            <button class="btn btn-success" ng-click="editDeliveryAddress()">Modif.</button>
                                        </div>

                                    </div>

                                </h4>

                                <h4 class="no-mg-vert"
                                    ng-if="currentShoppingCart.customerLoyalty.Barcodes[0].LastBipDate"
                                    ng-init="bipDate = getDate(currentShoppingCart.customerLoyalty.Barcodes[0].LastBipDate)">
                                    <b translate>Dernier passage</b> : {{bipDate.toString("dd/MM/yyyy")}}
                                </h4>

                                <!--3 differents Balances can be diplay -->
                                <h4 class="no-mg-vert"
                                    ng-if="currentShoppingCart.customerLoyalty.History && currentShoppingCart.customerLoyalty.Balances[0] != undefined">
                                    <b translate>Cumul depuis la création</b>
                                    : {{getTotalPositiveHistory(currentShoppingCart.customerLoyalty.History,
                                    currentShoppingCart.customerLoyalty.Balances[0])}}
                                    {{currentShoppingCart.customerLoyalty.Balances[0].BalanceType === 'Dollars' ?
                                    '$':currentShoppingCart.customerLoyalty.Balances[0].BalanceType}}
                                </h4>
                                <h4 class="no-mg-vert"
                                    ng-if="currentShoppingCart.customerLoyalty.History && currentShoppingCart.customerLoyalty.Balances[1] != undefined">
                                    <b translate>Cumul depuis la création</b>
                                    : {{getTotalPositiveHistory(currentShoppingCart.customerLoyalty.History,
                                    currentShoppingCart.customerLoyalty.Balances[1])}}
                                    {{currentShoppingCart.customerLoyalty.Balances[1].BalanceType === 'Dollars' ?
                                    '$':currentShoppingCart.customerLoyalty.Balances[1].BalanceType}}
                                </h4>
                                <h4 class="no-mg-vert"
                                    ng-if="currentShoppingCart.customerLoyalty.History && currentShoppingCart.customerLoyalty.Balances[2] != undefined">
                                    <b translate>Cumul depuis la création</b>
                                    : {{getTotalPositiveHistory(currentShoppingCart.customerLoyalty.History,
                                    currentShoppingCart.customerLoyalty.Balances[2])}}
                                    {{currentShoppingCart.customerLoyalty.Balances[2].BalanceType === 'Dollars' ?
                                    '$':currentShoppingCart.customerLoyalty.Balances[2].BalanceType}}
                                </h4>

                                <button class="btn btn-success"
                                        ng-if="false"
                                        ng-click="creditBalance()"> Crediter la cagnotte </button>

                                <h2 translate class="no-mg-vert"
                                    ng-if="currentShoppingCart.customerLoyalty.AllowAnonymous && currentShoppingCart.customerLoyalty.AnonymousCustomer">
                                    Utilisateur anonyme
                                </h2>

                                <div class="barcode-container visible-xs"
                                     ng-if="currentShoppingCart.customerLoyalty.AllowAnonymous && currentShoppingCart.customerLoyalty.AnonymousCustomer">
                                    <img class="img-responsive barcode-img"
                                         data-ng-src="{{clientUrl}}/{{currentShoppingCart.customerLoyalty.Barcodes[0].BarcodeUrl}}"
                                         alt=""
                                         onerror="$('.barcode-container').slideUp(); $('.onMissingQR').fadeIn('slow')"/>

                                    <div style="padding-left: 5px;">
                                        <small class="blanc">{{"Carte n°" | translate}} {{barcode}}</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- #endregion -->
                </div>
            </uib-tab>
        </uib-tabset>
    </div>

    <div class="modal-footer">
        <button class="btn btn-green"
                ng-disabled="validDisabled"
                ng-click="validCustomer()">OK</button>
        <button class="btn btn-rose" ng-click="close()" translate>Annuler</button>
    </div>

</section>
