<section>
    <div ng-init="init()" class="modal-header">
        <h1 class="modal-title" translate>Choississez le mode de livraison</h1>
    </div>

    <center>
        <div class="switch-toggle switch-3 switch-candy" >

            <input id="forhere" name="state-d" type="radio" ng-click="$event.stopPropagation();setDeliveryType(DeliveryTypes.FORHERE);">
            <label for="forhere"><x ng-click="$event.stopPropagation();setDeliveryType(DeliveryTypes.FORHERE);" translate>Sur place</x></label>

            <input id="takeout" name="state-d" type="radio" ng-click="$event.stopPropagation();setDeliveryType(DeliveryTypes.TAKEOUT);">
            <label for="takeout"><x ng-click="$event.stopPropagation();setDeliveryType(DeliveryTypes.TAKEOUT);" translate>Emporté</x></label>

            <input id="delivery" name="state-d" type="radio" ng-click="$event.stopPropagation();setDeliveryType(DeliveryTypes.DELIVERY);">
            <label for="delivery"><x ng-click="$event.stopPropagation();setDeliveryType(DeliveryTypes.DELIVERY);" translate>Livré</x></label>
            <a></a>
        </div>
    </center>


    <div class="modal-footer">
        <!--<button class="btn btn-green" ng-click="ok()">OK</button>-->
        <button class="btn btn-rose" ng-click="cancel()" translate>Retour</button>
    </div>

</section>