<section id="customerModal" class="modalCenterFS" ng-init="init()"
         ng-class="{'pmr' : $root.isPMREnabled}"
         ng-style="customStyle" style="overflow:hidden">
    <section class="groupModal"
             ng-show="!$root.isPMREnabled"
             ng-style="{'flex' : $root.borneVertical ? '3.5' : '3',
        'justify-content' : $root.borneVertical ? 'flex-end' : 'center'}">
        <img ng-src="{{$root.borneMainLogo || 'img/logo.png'}}"
             class="imgLogoHeader bigLogo" draggable="false" alt="" src="" />
        <div class="firstTitle" ng-style="{'color' : $root.textColor ? $root.textColor : ''}">
            <span translate>Mon compte fidélité</span>
        </div>
    </section>
    <hr ng-class="{'smallModalHR': $root.borneVertical, 'smallModalHRH': !$root.borneVertical}"
        ng-show="!$root.isPMREnabled"
        ng-style="{ 'background-color': $root.tenantColor, 'margin-right': $root.borneVertical ? '0' : '10px' }">
    <section class="groupModal registerFidBorne"
             ng-style="{'justify-content' : $root.borneVertical ? 'flex-start' : 'center',
                    'flex' : $root.borneVertical ? '8' : '4'}">
        <div class="loyaltyFormGroup" style="overflow-y:scroll;"
             ng-style="{'padding' : $root.borneVertical ?
             (mdMedia('min-width: 800px') ? '75px 50px' : '20px') :
             (mdMedia('min-height: 800px') ? '50px' : '20px')}" >

            <text-field-borne id="lastName" ng-model="newLoyalty.CustomerLastName" validfunction="$root.closeKeyboard"
                              nativekeyboard="true"  location="{{location}}" type="azerty" placeholder="Nom"
                              mandatory="true"></text-field-borne>
            <text-field-borne id="firstName" ng-model="newLoyalty.CustomerFirstName" validfunction="$root.closeKeyboard"
                              nativekeyboard="true" location="{{location}}" type="azerty" placeholder="Prénom"
                              mandatory="true"></text-field-borne>
            <text-field-borne id="email" ng-model="newLoyalty.CustomerEmail" validfunction="$root.closeKeyboard"
                              nativekeyboard="true" location="{{location}}" type="azerty" placeholder="Email"
                              mandatory="true"></text-field-borne>
            <text-field-borne id="streetAddress" ng-model="newLoyalty.CustomerStreetAddress"
                              validfunction="$root.closeKeyboard" ng-if="signInSettings.StreetAddress"
                              nativekeyboard="true" location="{{location}}" type="azerty"
                              mandatory="{{signInSettings.StreetAddress}}"
                              placeholder="Adresse"></text-field-borne>
            <text-field-borne id="streetAddress2" ng-model="newLoyalty.CustomerStreetAddress2"
                              validfunction="$root.closeKeyboard" ng-if="signInSettings.StreetAddress2"
                              nativekeyboard="true" location="{{location}}" type="azerty"
                              mandatory="{{signInSettings.StreetAddress2}}"
                              placeholder="Adresse 2"></text-field-borne>
            <div class="groupTextfield">
                <text-field-borne id="city" ng-model="newLoyalty.CustomerCity" validfunction="$root.closeKeyboard"
                                  nativekeyboard="true" location="{{location}}" type="azerty" placeholder="Ville"
                                  mandatory="{{signInSettings.City}}"
                                  ng-style="{'margin': $root.borneVertical ?
                                   (mdMedia('min-width: 800px') ? '0 26px 0 0' : '0 10px 0 0') :
                                   (mdMedia('min-height: 800px') ? '0 26px 0 0' : '0 10px 0 0')}"
                                  ng-if="signInSettings.City"></text-field-borne>
                <text-field-borne id="ZipPostalCode" ng-model="newLoyalty.CustomerZipPostalCode"
                                  validfunction="$root.closeKeyboard" ng-if="signInSettings.ZipPostalCode"
                                  nativekeyboard="true" location="{{location}}" type="azerty" placeholder="Code Postal"
                                  mandatory="{{signInSettings.ZipPostalCode}}" style="margin:0;"></text-field-borne>
            </div>
            <text-field-borne id="phone" ng-model="newLoyalty.CustomerPhone" validfunction="$root.closeKeyboard"
                              nativekeyboard="true" location="{{location}}" type="azerty"
                              placeholder="Téléphone" ng-if="signInSettings.Phone" mandatory="{{signInSettings.Phone}}"></text-field-borne>
            <text-field-borne id="fax" ng-model="newLoyalty.CustomerFax" validfunction="$root.closeKeyboard"
                              nativekeyboard="true" location="{{location}}" type="azerty" placeholder="Fax"
                              ng-if="signInSettings.Fax" mandatory="{{signInSettings.Fax}}"></text-field-borne>
            <text-field-borne id="company" ng-model="newLoyalty.CustomerCompany" validfunction="$root.closeKeyboard"
                              nativekeyboard="true" location="{{location}}" type="azerty"
                              placeholder="Société" ng-if="signInSettings.Company" mandatory="{{signInSettings.Company}}"></text-field-borne>
            <text-field-borne id="txtBarcodeCustomer" ng-model="newLoyalty.barcode.barcodeValue"
                              validfunction="$root.closeKeyboard"
                              nativekeyboard="true" location="{{location}}" type="azerty"
                              placeholder="N&#176; Carte"></text-field-borne>
            <div ng-model="pubMail" class="checkboxBorneH" ng-click="pubMail = !pubMail"
                 ng-style="{ 'background-color' : pubMail ? $root.tenantAltColor || $root.tenantColor : 'white',
                     'border-color' : pubMail ? $root.tenantAltColor || $root.tenantColor : '#E5E5E5' }" translate>
                J'accepte de recevoir par mail les informations concernant mon compte et les offres de fidélité
            </div>
            <div ng-model="acceptRules" class="checkboxBorneH" ng-click="toggleRules()"
                 ng-style="{ 'background-color' : acceptRules ? $root.tenantAltColor || $root.tenantColor : 'white',
                     'border-color' : acceptRules ? $root.tenantAltColor || $root.tenantColor : '#E5E5E5' }" translate>
                En cliquant sur cette case, vous acceptez notre politique sur les données personnelles
            </div>
            <div class="groupBtn">
                <md-button class="btnModalSmall btnLeft" ng-click="close()">
                    <span class="mainBtnMsText" translate>Annuler</span>
                </md-button>
                <md-button class="btnModalSmall btnRight"
                           ng-style="{ 'background-color': $root.tenantColor, 'border-color': $root.tenantColor }"
                           ng-click="validCustomer()">
                    <span class="mainBtnMsText" style="color: white;" translate>Enregistrer</span>
                </md-button>
            </div>
        </div>
    </section>
</section>