<section>

    <div ng-init="init()" class="modal-header">
        <h1 class="modal-title ng_scope" translate> Montant à split</h1>
    </div>


    <div style="height:50px; margin-top:20px; margin-bottom: 10px">

        <div class = "center">
            <label for="splitAmount"> Montant : </label>
            <text-field id="splitAmount" ng-model="result" location="end-start" type="decimal" validfunction="ok" style="width:155px;"></text-field>
        </div>

        <div class="inp center" ng-if="errorMessage">
            <span class="labelErr">{{errorMessage}}</span>
        </div>

    </div>

    <div class="modal-footer" style="display:flex; justify-content: space-between">
        <button class="btn btn-success" ng-click="ok()" translate>Ok</button>
        <button class="btn btn-rose" ng-click="cancel()" translate>Annuler</button>
    </div>

</section>
