<section ng-init="init()" modal-location="left">
    <div class="modal-header">
        <h1 class="modal-title" translate>Détails du comptage des services</h1>
    </div>
    <tabset>
        <tab ng-repeat="yPeriod in model.yPeriodsModels ">
            <tab-heading>
                <x>{{printDate(yPeriod)}}</x>
            </tab-heading>

            <div class="form-panel modal-body modal-closepos">
                <div class="row" style="border-bottom: 1px solid lightgray;margin-bottom:10px">
                    <div style="width:30%;float:left">
                        <div class="title" translate>Paiements</div>
                    </div>
                    <div style="width:15%;float:left">
                        <div class="title centered" translate>Nb</div>
                    </div>
                    <div style="width:20%;float:left">
                        <div class="title centered" translate>Montant saisi</div>
                    </div>
                    <div style="width:20%;float:left">
                        <div class="title centered" translate>Montant attendu</div>
                    </div>
                    <div style="width:15%;float:left">
                        <div class="title centered" translate>Ecart</div>
                    </div>
                </div>

                <div class="row" ng-repeat="l in yPeriod.YCountLines">
                    <div style="width:30%;float:left;">
                        <p class="title">{{l.PaymentMode.Text}}</p>
                    </div>
                    <div style="width:15%;float:left;min-height:60px;">
                        <div class="title centered">
                            <p>{{l.Count}}</p>
                        </div>
                    </div>
                    <div style="width:20%;float:left;min-height:60px;">
                        <div class="title centered">
                            <p class="title centered" ng-if="l.PaymentMode.PaymentType !== paymentType.FIDELITE || l.PaymentMode.PaymentType !== paymentType.INTERNET">{{l.PaymentMode.Total | CurrencyFormat}}</p>
                        </div>
                    </div>
                    <div style="width:20%;float:left;min-height:60px;">
                        <div class="title centered">
                            <p class="title centered">{{l.TotalKnown | CurrencyFormat}}</p>
                        </div>
                    </div>
                    <div style="width:15%;float:left;min-height:60px;">
                        <div class="title centered">
                            <p class="title centered green" ng-if="l.PaymentMode.PaymentType !== paymentType.FIDELITE || l.PaymentMode.PaymentType !== paymentType.INTERNET" ng-class="{ red : l.cashDiscrepancy !== 0}">{{l.cashDiscrepancy | CurrencyFormat}}</p>
                        </div>
                    </div>
                    
                </div>
            </div>
        </tab>
    </tabset>
    <div class="modal-footer">
        <button class="btn btn-danger" ng-click="cancel()" translate>Fermer</button>
    </div>
</section>
