<section id="modalConnectionMode" class="modalCenterFS"
         ng-class="{'pmr' : $root.isPMREnabled}"
         ng-init="init()"
         ng-style="customStyle">
    <section class="groupModal"
             ng-style="{'justify-content' : $root.borneVertical ? 'flex-end' : 'center',
             'flex' : $root.borneVertical ? '2' : '3'}">
        <img ng-src="{{$root.borneMainLogo || 'img/logo.png'}}"
             class="imgLogoHeader bigLogo" draggable="false" alt="" src=""/>
        <div class="firstTitle" ng-style="{'color' : $root.textColor ? $root.textColor : ''}">
            <span translate>Bienvenue</span>,&nbsp;
            <span translate>identifiez-vous</span>
        </div>
    </section>
    <hr ng-class="{'smallModalHR': $root.borneVertical,
                        'smallModalHRH': !$root.borneVertical}"
        ng-style="{ 'background-color' : $root.tenantColor}">
    <section class="groupModal" style="flex:4"
             ng-style="{'justify-content' : $root.borneVertical ? 'flex-start' : 'center'}">
        <md-button class="btnModalBig" ng-click="redirectToConnection()"
                   ng-style="{'margin' : $root.borneVertical ?
                   (mdMedia('min-width: 800px') ? '50px 0 0' : '26px 0 0') : '0'}">
            <div class="btnMbIcon">
                <md-icon md-svg-src="img/icons/connexion.svg" ng-style="{ 'color' : $root.tenantAltColor || $root.tenantColor}"></md-icon>
            </div>
            <hr class="verticalBtnMbHR" ng-style="{ 'background-color' : $root.tenantAltColor || $root.tenantColor}">
            <div class="btnMbText">
                <span class="mainBtnMbText" translate>Connexion</span>
                <span class="altBtnMbText"
                      ng-show="$root.borneVertical ?
                      mdMedia('min-width: 800px') :
                      mdMedia('min-height: 800px')" translate>Connectez-vous en scannant votre carte de fidélité</span>
            </div>
        </md-button>
        <md-button class="btnModalBig" ng-click="redirectToCustomer()" ng-style="{'margin': $root.borneVertical ?
        (mdMedia('min-width: 800px') ? '50px 0 0' : '20px 0 0') : (mdMedia('min-height: 800px') ? '50px 0 0' : '10px 0 0')}">
            <div class="btnMbIcon">
                <md-icon md-svg-src="img/icons/inscription.svg"
                         ng-style="{ 'color' : $root.tenantAltColor || $root.tenantColor}"></md-icon>
            </div>
            <hr class="verticalBtnMbHR" ng-style="{ 'background-color' : $root.tenantAltColor || $root.tenantColor}">
            <div class="btnMbText">
                <span class="mainBtnMbText" translate>Inscription</span>
                <span class="altBtnMbText" ng-show="$root.borneVertical ? mdMedia('min-width: 800px') :
                      mdMedia('min-height: 800px')"><x translate>Créez votre compte fidélité dès-maintenant</x>&nbsp;!</span>
            </div>
        </md-button>
        <md-button class="btnModalBig" ng-click="close()" ng-style="{'margin': $root.borneVertical ?
        (mdMedia('min-width: 800px') ? '50px 0 0' : '20px 0 0') : (mdMedia('min-height: 800px') ? '50px 0 0' : '10px 0 0')}">
            <div class="btnMbIcon">
                <md-icon md-svg-src="img/icons/skip.svg" ng-style="{ 'color' : $root.tenantAltColor || $root.tenantColor}"></md-icon>
            </div>
            <hr class="verticalBtnMbHR" ng-style="{ 'background-color' : $root.tenantAltColor || $root.tenantColor}">
            <div class="btnMbText">
                <span class="mainBtnMbText" translate>Ignorer</span>
                <span class="altBtnMbText" ng-show="$root.borneVertical ?
                      mdMedia('min-width: 800px') :
                      mdMedia('min-height: 800px')"><x translate>Continuez sans vous identifier</x>.</span>
            </div>
        </md-button>
        <div class="langSelection">
            <div class="langBtn" ng-click="$root.setLanguage('fr_FR')">
                <md-icon md-svg-src="img/icons/flag-fr.svg"></md-icon>
            </div>
            <div class="langBtn" ng-click="$root.setLanguage('en_EN')">
                <md-icon md-svg-src="img/icons/flag-en.svg"></md-icon>
            </div>
            <div class="pmrBtn" ng-show="$root.borneVertical && mdMedia('min-height: 1280px')" ng-click="$root.setPMRmode()">
                <a style="background-color: #ddd;border-color:#ddd">
                    <md-icon md-svg-src="img/icons/pmr.svg"></md-icon>
                </a>
            </div>
        </div>
    </section>
</section>