<section class="">

    <div class="modal-header">
        <h1 class="modal-title" translate>Liste des terminaux connectés</h1>
    </div>

    <div class="form-panel modal-body">
        <table class="table table-striped">
            <thead>
            <tr>
                <th style="width: 80%;" translate>
                    Nom du terminal
                </th>
                <th style="text-align: center" translate>
                    Type
                </th>
                <th style="text-align: center" translate>
                    Periode
                </th>
            </tr>
            </thead>
            <tbody>

            <tr ng-repeat="device in $root.registeredDevices | orderBy: Alias">
                <td style="vertical-align: middle" class="posName">
                    {{device.Alias ? device.Alias : device.Id}}
                </td>

                <td style="vertical-align: middle; text-align: center" class="">
                    <span ng-show="device.DeviceType === 'BORNE'" translate>
                        Borne
                    </span>
                    <span ng-show="device.DeviceType === 'POS'" translate>
                        Caisse
                    </span>
                    <span ng-show="device.DeviceType === 'KDS'" translate>
                        KDS
                    </span>
                </td>

                <td style="vertical-align: middle; text-align: center" class="period" >
                    <div ng-show="device.DeviceType !== 'KDS'">
                        <button class="btn btn-warning" ng-show="!device.HasOpenPeriod" ng-click="openPeriod(device.Id)"
                                translate>
                            Ouvrir une periode
                        </button>

                        <span ng-show="device.HasOpenPeriod" class="glyphicon glyphicon-ok"></span>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="modal-footer">
        <button class="btn btn-rose" ng-click="close()" translate>Fermer</button>
    </div>

</section>