<section ng-init="init()">
    <div class="modal-header">
        <h1 class="modal-title">{{offerPromoText.OfferClassDescription}}</h1>
    </div>

    <div class="form-panel modal-body">
        <div>
            {{offerPromoText.OfferObjectDescription}}
        </div>
        <div ng-if="offerPromoText.DateOfValidity!=undefined">
            <span translate>Date limite d'utilisation : </span>{{offerPromoText.DateOfValidity | date:"dd/MM/yyyy"}}
        </div>
    </div>

    <div class="modal-footer">
        <button class="btn btn-green" ng-click="useOfferText(offerPromoText)" translate>Utiliser l'offre</button>
        <button class="btn btn-rose" ng-click="cancel()" translate>Annuler</button>
    </div>

</section>