<section>
    <div ng-init="init()" class="modal-header">
        <h1 class="modal-title">{{paymentMode.Text}}</h1>
    </div>

    <div class="form-panel modal-body">
        <div class="inp" style="text-align: center;">
            <div ng-if="paymentMode.PaymentType != paymentType.EASYTRANSAC">
                <label for="txtAmount">
                    <x translate>Montant</x> :
                </label>
                <!--<input readonly type="tel" id="txtAmount" ng-model="value" ng-keypress="$event.stopPropagation()" />-->
                <text-field tostring="true" id="txtAmount" ng-model="value.pay" location="center-end" type="decimal"
                            validfunction="ok" style="width:160px"></text-field>
                <a class="btn btn-default" ng-click="calculate()">
                    <span class="glyphicon itemAction">=</span>
                </a>
            </div>
            <!--<a class="btn btn-default" ng-click="remove()">
                <span class="glyphicon glyphicon-trash itemAction"></span>
            </a>-->
            <div ng-if="paymentMode.PaymentType == paymentType.EASYTRANSAC">
                <x translate>Montant</x> :
                {{currentShoppingCart.Residue | CurrencyFormat}}
                <div ng-if="paymentMode.PaymentType == paymentType.EASYTRANSAC" style="margin:30px 0;">
                    <button class="btn btn-primary" ng-click="toScanner()">Scanner</button>
                    <button class="btn btn-primary" ng-click="toNFC()">NFC</button>
                </div>
            </div>
        </div>
        <div ng-if="paymentMode.PaymentType == paymentType.TICKETRESTAURANT" style="margin-top: 40px;">
            <div ng-repeat="item in currentShoppingCart.TicketsResto" class="row">
                <div class="col-md-8">
                    <strong>Ticket :</strong>
                    <strong> {{item.Number}}</strong>
                    <span>( {{item.Value | CurrencyFormat}} )</span>

                </div>
                <div class="col-md-4" style="padding: 0">
					<span class="btn-group">
						<!-- Remove line -->
						<a class="btn btn-xs btn-default" style="border:0;" ng-click="removeTicketResto(item)">
							<span class="glyphicon glyphicon-trash"></span>
						</a>
					</span>
                </div>
            </div>
        </div>
        <div style="margin:20px 0; text-align: center;" class="inp" ng-if="errorMessage">
            <span class="labelErr">{{errorMessage}}</span>
        </div>

        <!--<div data-ng-keypad="paymentKeypad" class="numpad">
            <div ng-include="'partials/decimal.html'"></div>
        </div>-->
    </div>

    <div class="modal-footer">
        <!--<button class="btn btn-green" ng-click="ok()">OK</button>-->
        <button class="btn btn-rose" ng-click="cancel()" translate>Annuler</button>
    </div>

</section>
