<section ng-init="init()">
    <div class="modal-header">
        <h1 class="modal-title">{{paymentMode.Text}}</h1>
    </div>
    <div class="modal-loader gloryOverList" ng-show="loading" layout="column">
        <button class="btn btn-menu" ng-click="CancelDeposit()"
                ng-show="!canceled && paymentMode.PaymentType != paymentType.LYFPAY" style="margin-top:150px">
            Cancel Deposit
        </button>
    </div>
    <div class="form-panel modal-body">
        <div class="inp" style="text-align: center;">
            <div ng-if="paymentMode.PaymentType != paymentType.EASYTRANSAC && ((paymentMode.PaymentType != paymentType.CBTICKETRESTAURANT && paymentMode.PaymentType != paymentType.CB) && paymentMode.PaymentType != paymentType.LYFPAY || !$root.borne)">
                <label for="txtAmount">
                    <x translate>Montant</x> :
                </label>

                <text-field tostring="true" id="txtAmount" ng-model="value.pay" location="center-end" type="decimal"
                            validfunction="ok" style="width:160px;" auto-focus="true"></text-field>
                <a class="btn btn-default" ng-click="calculate()">
                    <span class="glyphicon itemAction">=</span>
                </a>
            </div>

            <div ng-if="paymentMode.PaymentType == paymentType.EASYTRANSAC">
                <x translate>Montant</x> :
                {{currentShoppingCart.Residue | CurrencyFormat}}
                <div ng-if="paymentMode.PaymentType == paymentType.EASYTRANSAC" style="margin:30px 0;">
                    <button class="btn btn-primary" ng-click="toScanner()">Scanner</button>
                    <button class="btn btn-primary" ng-click="toNFC()">NFC</button>
                </div>
            </div>
            <div ng-if="(paymentMode.PaymentType == paymentType.CB || paymentMode.PaymentType == paymentType.CBTICKETRESTAURANT || paymentMode.PaymentType == paymentType.LYFPAY) && $root.borne">
                <x translate>Montant</x> :
                {{currentShoppingCart.Residue | CurrencyFormat}}
            </div>
            <div ng-if="paymentMode.PaymentType == paymentType.LYFPAY">
                <br>
                <span>Veuillez scanner le QRCode ou le Barcode :</span>
                <br>
                <text-field id="lyfpayBarcode" ng-model="value.barcode" location="end-start" type="azerty"
                            style="line-height:30px; width:200px; font-size:18px;min-height:30px" auto-focus="true"></text-field>
            </div>
        </div>
        <div ng-if="paymentMode.PaymentType == paymentType.TICKETRESTAURANT" style="margin-top: 40px;">
            <div ng-repeat="item in currentShoppingCart.TicketsResto" class="row">
                <div class="col-md-8">
                    <strong>Ticket :</strong>
                    <strong> {{item.Number}}</strong>
                    <span>( {{item.Value | CurrencyFormat}} )</span>
                </div>
                <div class="col-md-4" style="padding: 0">
                    <span class="btn-group">
                        <!-- Remove line -->
                        <a class="btn btn-xs btn-default" style="border:0;" ng-click="removeTicketResto(item)">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    </span>
                </div>
            </div>
        </div>
        <div style="margin:20px 0; text-align: center;" class="inp" ng-if="errorMessage || infoMessage" layout="column">
            <span class="labelErr">{{errorMessage}}</span>
            <span class="labelInfo">{{infoMessage}}</span>
        </div>
    </div>

    <div class="modal-footer">

        <!-- <md-checkbox style="float: left"
            ng-show="paymentMode.PaymentType === paymentType.CB && $root.UserPreset && $root.UserPreset.TpeEnabled"
            ng-disabled="!canForce" ng-model="manualOverride" aria-label="manual override">
            Forcer
        </md-checkbox> -->

        <button class="btn btn-green" ng-if="paymentMode.PaymentType === paymentType.CB || paymentMode.PaymentType === paymentType.CBTICKETRESTAURANT || paymentMode.PaymentType == paymentType.LYFPAY" ng-disabled="lockView" ng-click="ok()">
            Payer
        </button>
        <button class="btn btn-rose" ng-click="cancel()" ng-disabled="lockView && isNotLyfPay"
                translate>
            Annuler
        </button>
    </div>
</section>