<section ng-init="init()" layout="column" flex id="modalTablePlan" class="tableplan">
	<div class="modal-header">
		<h1 class="modal-title" translate>Tables</h1>
	</div>

	<div class="modal-body" layout="column" flex>
		<md-tabs md-selected="mapSelectedIndex" md-border-bottom flex class="tabFill">
			<md-tab ng-repeat="map in storeMap.data" label="{{map.Name}}">
				<md-tabs md-selected="map.areaSelectedIndex" md-border-bottom>
					<md-tab ng-repeat="area in map.Areas"
							label="{{area.Name}}">
						<div layout="row" layout-wrap flex>
							<md-grid-list ng-show="!isLoading" md-cols="4" md-row-height="1:1" md-row-height-gt-md="1:1" md-cols-gt-sm="6" md-cols-gt-md="8" md-gutter="8px" flex>
								<md-grid-tile ng-show="table.ihm.enabled"
											  ng-repeat="table in currentArea.Objects | orderBy:'TableNumber'"
											  id="t{{table.Id}}"
											  style="background-color: {{table.options.fill}}"
											  ng-click="selectTable(table)">
									<div layout="column" ng-class="{'layout-align-center-center' : $mdMedia('gt-xs'), 'layout-align-start-end':$mdMedia('xs')}" layout-fill>
										<h1 style="margin:0;color:white;font-weight:bold;">{{table.TableNumber}}</h1>
										<md-icon ng-if="$mdMedia('gt-xs')" style="color:white;width: 40%;height:40%;margin: 0 0 20% 0;" md-svg-icon="img/icons/table.svg"></md-icon>
									</div>
									<md-grid-tile-footer style="max-height:30px;background-color:{{table.ihm.backcolor}}">
										<md-icon style="color:white;" md-svg-icon="img/icons/cutleries.svg"></md-icon>
										<span>{{table.Cutleries}}</span>
                                        <span ng-show="table.inUseCutleries"> / {{table.inUseCutleries}}</span>

									</md-grid-tile-footer>
								</md-grid-tile>
							</md-grid-list>
							<div ng-show="!isLoading" layout="column" style="width:170px;min-width:170px;max-width:170px;" flex>
								<div layout="row" layout-wrap>
									<md-checkbox class="checkbox-criterias" ng-checked="tableModel.allCriteriasSelected" ng-click="toggleAllCriterias()"><x translate>Tous</x></md-checkbox>
									<md-checkbox ng-disabled="tableModel.allCriteriasSelected" ng-repeat="criteria in tableModel.criterias" class="checkbox-criterias" ng-checked="criteria.IsSelected" ng-click="toggleCriteria(criteria)">{{criteria.Name}}</md-checkbox>
								</div>
								<div class="form-panel modal-body">
									<div class="inp">
										<label for="txtTable"><x translate>Numéro</x> :</label>
										<text-field id="txtTable" ng-model="tableModel.valueTable" location="center-end" type="numeric" validfunction="ok" style="width:150px"></text-field>
									</div>
									<br />
									<div class="inp">
										<label for="txtCutleries"><x translate>Couvert(s)</x> :</label>
										<text-field id="txtCutleries" ng-model="tableModel.valueCutleries" location="center-end" type="numeric" validfunction="ok" style="width:150px"></text-field>
									</div>
									<div class="inp" ng-if="errorMessage">
										<span class="labelErr">{{errorMessage}}</span>
									</div>
                                    <br />
                                    <div class="inp" ng-if="tableModel.activeTimer">
                                        <label for="timer"><x translate> Active depuis</x> : </label>
                                        <p id="timer">{{tableModel.activeTimer | date:'HH:mm:ss'}}</p>
                                    </div>
								</div>
							</div>
						</div>
					</md-tab>
				</md-tabs>

			</md-tab>
		</md-tabs>
	</div>

	<div class="modal-footer">
		<button class="btn btn-green" ng-click="ok()">OK</button>
		<button class="btn btn-rose" ng-click="cancel()" translate>Annuler</button>
	</div>

</section>
