<section>
    <div ng-init="init()" class="modal-header">
        <h1 class="modal-title" translate>Choississez le mode de livraison</h1>
    </div>

    <center>
        <div class="switch-toggle switch-3 switch-candy" >

            <input id="fh" name="state-d" type="radio"
                   ng-checked="deliveryType == DeliveryType.FORHERE"
                   ng-click="setDeliveryType(DeliveryType.FORHERE);">
            <label for="fh" translate>Sur place</label>

            <input id="to" name="state-d" type="radio"
                   ng-checked="deliveryType == DeliveryType.TAKEOUT"
                   ng-click="setDeliveryType(DeliveryType.TAKEOUT);">
            <label for="to" translate>Emporté</label>

            <input id="dl" name="state-d" type="radio"
                   ng-checked="deliveryType == DeliveryType.DELIVERY"
                   ng-click="setDeliveryType(DeliveryType.DELIVERY);">
            <label for="dl" translate>Livré</label>
            <a></a>
        </div>
    </center>


    <div class="modal-footer">
        <!--<button class="btn btn-green" ng-click="ok()">OK</button>-->
        <button class="btn btn-rose" ng-click="cancel()" translate>Retour</button>
    </div>

</section>