<section modal-location="center">
    <div class="modal-header" ng-init="init()">
        <h3 class="modal-title">Login&nbsp;{{password}}</h3>
    </div>
    <div class="modal-body keypad-container modalLoginPOS" layout="row" layout-wrap layout-padding>
        <div ng-repeat="posUser in posUsers" class="itemPosUser" layout="column" layout-align="center center">
            <a class="linkPosUser" ng-click="login(posUser)" style="position:relative">
                <img class="imgPosUser" ng-src="{{posUser.PictureUrl}}" alt="{{posUser.Name}}" />
                <img src="img/check.png" class="imgCheckPosUser" ng-if="posUser.IsWorking" />
            </a>
            <p class="titlePosUser">{{posUser.Name}}</p>
        </div>
    </div>
</section>