
<section class="shoppingCartModal" ng-init="init()">
    <div class="modal-header">
        <h1 class="modal-title">Tickets enregistrés</h1>
    </div>

    <div class="form-panel modal-body">

        <div ng-hide="loading" class="row">
            <label for="date-start" class="control-label col-md-2">Début</label>
            <label for="date-end" class="control-label col-md-2">Fin</label>
            <label for="filterCaisse" class="control-label col-md-3">Caisse</label>
            <label for="filterPaiementType" class="control-label col-md-3">Mode de paiement</label>
            <label for="filterAmount" class="control-label col-md-2" ng-hide="filterAmountDisabled">Montant</label>
        </div>
        <div ng-hide="loading" class="row selectDate">
            <div class="row">
                <div class="input-group input-group-date col-md-2">
                    <input type="text" class="form-control" max-date="{{dateEnd}}" uib-datepicker-popup="dd/MM/yyyy"
                           ng-required="true" ng-model="dateStart" is-open="dateStartOpened" starting-day="1"
                           close-text="Fermer" current-text="Aujourd'hui" clear-text="Effacer" disabled
                           style="background-color:white;padding: 6px 3px;"/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="openDateStart($event)"><i
                                class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>

                <div class="input-group input-group-date col-md-2">
                    <input type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy"
                           ng-model="dateEnd" is-open="dateEndOpened" starting-day="1" close-text="Fermer"
                           current-text="Aujourd'hui" clear-text="Effacer" disabled
                           style="padding: 6px 3px;background-color:white"/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="openDateEnd($event)"><i
                                class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>

                <div class="input-group input-group-date col-md-3" uib-dropdown is-open="status.isopenAlias">
                    <button id="filterCaisse" type="button" class="btn btn-default btnFiltreCaisse"
                            uib-dropdown-toggle
                            ng-disabled="filterAliasDisabled">
                        <div class="textBtnFiltreCaisse">{{ filterAlias != 0 ? filterAlias : "Toutes les caisses" }}</div>
                        <span style="margin-top:8px;float:right" class="caret"></span>
                    </button>

                    <ul class="dropdown-menu" role="menu" style="left:6%" aria-labelledby="filterCaisse">
                        <li role="menuitem" class="item">
                            <a ng-click="updateFilterAlias(0)">Toutes les caisses</a>
                        </li>
                        <li ng-repeat="alias in listAliases track by $index" role="menuitem" class="item">
                            <a ng-click="updateFilterAlias(alias)">&nbsp;{{alias}}</a>
                        </li>
                    </ul>
                </div>

                <div class="input-group input-group-date col-md-3" uib-dropdown>
                    <button id="filterPaiement" type="button" class="btn btn-default" style="width:100%"
                            ng-disabled="filterPaiementDisabled" uib-dropdown-toggle>
                        {{ filterPaiement ? filterPaiement : "Moyens de paiement" }}
                        <span style="margin-top:8px;float:right" class="caret"></span>
                    </button>

                    <ul class="dropdown-menu" role="menu" style="left:6%" aria-labelledby="filterPaiement">
                        <li class="item">
                            <a ng-click="updateFilterPaiement(undefined)">Moyens de paiement</a>
                        </li>
                        <li ng-repeat="paiement in listPaiements" class="item">
                            <a ng-click="updateFilterPaiement(paiement.id,paiement.name)">&nbsp;{{paiement.name}}</a>
                        </li>
                    </ul>
                </div>

                <div class="input-group input-group-date col-md-2" ng-hide="filterAmountDisabled"
                     style="width:145px;">
                    <text-field id="filterAmount" ng-model="filterAmount" location="end-start" type="decimal"
                                validfunction="filterAmountHandler" style="width:75px; height : 34px"></text-field>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="filterAmountHandler(); ">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <div ng-if="loading">
            <div style="text-align: center;"><h2>Chargement...</h2></div>
        </div>
        <kendo-grid ng-hide="loading" k-data-source="gridDatas"
                    k-columns="gridColumns" k-sortable="true" k-filterable="false" k-groupable="false" k-pageable="true"
                    k-scrollable="true">
        </kendo-grid>
    </div>

    <div class="modal-footer">
        <button ng-hide="loading" class="btn btn-info" ng-click="showZPos()" translate>Statistiques de date à date
        </button>
        <button class="btn btn-rose" ng-click="cancel()" translate>Annuler</button>
    </div>

</section>
