<section class="shoppingCartModal" ng-init="init()">
    <div class="modal-header">
        <h1 class="modal-title" translate>Reprendre un ticket</h1>
    </div>

    <div class="form-panel modal-body modal-unfreeze">
        <uib-tabset>
            <uib-tab>
                <uib-tab-heading>
                    <x translate>En attente</x>
                </uib-tab-heading>

                <div class="itemRow" style="text-align: center;margin: 0 -15px">
                    <div style="margin: 0 15px;display:flex;">
                        <strong id="checkToMergeOrder" style="width:25px;"></strong>
                        <strong style="flex:1;">
                            <md-icon md-svg-src="img/icons/table.svg"></md-icon>
                        </strong>
                        <strong ng-if="$mdMedia('(min-width: 800px)')" style="flex:1;">
                            <md-icon md-svg-src="img/icons/shoppingcart.svg"></md-icon>
                        </strong>
                        <strong style="flex:1;">
                            <md-icon md-svg-src="img/icons/cutleries.svg"></md-icon>
                        </strong>
                        <strong style="flex:1;">
                            <md-icon md-svg-src="img/icons/user.svg"></md-icon>
                        </strong>
                        <strong style="flex:1;">
                            <md-icon md-svg-src="img/icons/box.svg"></md-icon>
                        </strong>
                        <strong style="flex:1;">
                            <md-icon md-svg-src="img/icons/euro.svg"></md-icon>
                        </strong>
                    </div>
                </div>

                <div ng-if="shoppingCarts != undefined && shoppingCarts.length > 0">
                    <div class="itemRow" layout="column" ng-repeat="shoppingCart in shoppingCarts track by $index"
                         ng-if="!shoppingCart.DatePickup"
                         style="line-height: 30px;margin: 0 -15px;">

                        <div class="unFreezeTable" layout="column" style="height: 75px;" flex>
                            <div layout="row" style="align-items: center;" flex>
                                <div layout="row" style="height:100%;align-items: center;" flex>
                                    <strong style="margin-right:10px;">
                                        <input type="checkbox"
                                               ng-click="$event.stopPropagation();checkShoppingCart(shoppingCart,$event);"
                                               style="width:25px;height:25px;">
                                    </strong>
                                    <div layout="row" style="line-height: 20px;height:100%;align-items: center;"
                                         ng-click="select(shoppingCart)" flex>
                                        <strong style="flex:1;">
                                            <div ng-if="shoppingCart.TableNumber != undefined">
                                                {{shoppingCart.TableNumber}}
                                            </div>
                                        </strong>
                                        <strong ng-if="$mdMedia('(min-width: 800px)')" style="flex:1;">
                                            {{shoppingCart.Timestamp}}
                                        </strong>
                                        <strong style="flex:1;">
                                            <div ng-if="shoppingCart.TableCutleries != undefined">
                                                {{shoppingCart.TableCutleries}}
                                            </div>
                                        </strong>
                                        <strong style="flex:1;">
                                            {{shoppingCart.PosUserName}}
                                        </strong>
                                        <strong style="flex:1;">
                                            {{getItemsCount(shoppingCart)}}
                                        </strong>
                                        <strong style="flex:1;">
                                            {{shoppingCart.Total | CurrencyFormat}}
                                        </strong>
                                    </div>
                                </div>
                            </div>
                            <div class="productComment">
                                <div ng-if="shoppingCart.Customer != undefined">
                                    <strong>
                                        <x translate>Horaire</x>
                                        : {{shoppingCart.ShippingOption}}</strong>
                                    {{shoppingCart.Customer.FirstName
                                    + " " + shoppingCart.Customer.LastName
                                    + " - " + shoppingCart.Customer.Email}}
                                </div>
                                <div ng-if="shoppingCart.customerLoyalty != undefined">
                                    {{shoppingCart.customerLoyalty.CustomerFirstName
                                    + " " + shoppingCart.customerLoyalty.CustomerLastName
                                    + " - " + shoppingCart.customerLoyalty.CustomerEmail}}
                                </div>
                            </div>
                        </div>

                        <!--<div ng-if="shoppingCart.Customer != undefined"
                             style="margin-left:10px; margin-right:10px">
                            <strong style="width:20%;float:left">
                                <x translate>Horaire</x>
                                : {{shoppingCart.ShippingOption}}</strong>
                            <span style="width:30%;float:left">{{shoppingCart.Customer.FirstName+" "+shoppingCart.Customer.LastName}}</span>
                            <span style="width:30%;float:left">{{shoppingCart.Customer.Email}}</span>
                        </div>

                        <div ng-if="shoppingCart.customerLoyalty != undefined"
                             style="margin-left:10px; margin-right:10px">
                            <span style="width:30%;float:left">{{shoppingCart.customerLoyalty.CustomerFirstName+" "+shoppingCart.customerLoyalty.CustomerLastName}}</span>
                            <span style="width:30%;float:left">{{shoppingCart.customerLoyalty.CustomerEmail}}</span>
                        </div>-->
                    </div>
                </div>
                <div class="itemRow"
                     ng-if="modelDb.freezeReady == true && (shoppingCarts == undefined || shoppingCarts.length == 0)">
                    <strong translate>Aucun ticket en attente</strong>
                </div>
                <div class="itemRow" ng-if="!modelDb.freezeReady">
                    <strong>
                        <x translate>Les tickets en attentes sont en cours de synchronisation</x>
                        ...<br/><br/>
                        <x translate>Veuillez patienter</x>
                        ...</strong>
                </div>
            </uib-tab>
            <uib-tab>
                <uib-tab-heading>
                    <x translate>A traiter</x>
                    <div ng-if="ordersInProgress.length > 0" class="tabNotif">
						<span class="tabNotif-text">
							{{ordersInProgress.length}}
						</span>
                    </div>
                </uib-tab-heading>

                <div class="itemRow" style="text-align: center;margin: 0 -15px">
                    <div style="margin: 0 15px;display:flex;">
                        <strong id="orderTypeIcon" style="flex:1"></strong>
                        <strong ng-if="$mdMedia('(min-width: 800px)')" style="flex:1;">
                            <md-icon md-svg-src="img/icons/shoppingcart.svg"></md-icon>
                        </strong>
                        <strong style="flex:1;">
                            <md-icon md-svg-src="img/icons/clock.svg"></md-icon>
                        </strong>
                        <strong style="flex:1;">
                            <md-icon md-svg-src="img/icons/user.svg"></md-icon>
                        </strong>
                        <strong style="flex:1;">
                            <md-icon md-svg-src="img/icons/box.svg"></md-icon>
                        </strong>
                        <strong style="flex:1;">
                            <md-icon md-svg-src="img/icons/euro.svg"></md-icon>
                        </strong>
                    </div>
                </div>

                <div ng-if="ordersInProgress != undefined && ordersInProgress.length > 0">
                    <div class="itemRow row" ng-repeat="order in ordersInProgress track by $index"
                         ng-click="selectOrder(order)"
                         ng-style="(order.Customer != undefined || order.customerLoyalty != undefined || order.ExtraInfos) && {'line-height':'30px'} || {'line-height':'60px'}"
                         style="padding:5px 5px 0;line-height: 20px">

                        <div class="unFreezeTable" layout="column" style="height: 75px;" flex>
                            <div layout="row" style="align-items: center;" flex>
                                <div layout="row" style="line-height: 20px;align-items: center;" flex>
                                    <strong class="orderListTo" style="flex:1;">
                                        <md-icon class="glyphicon" ng-class="{'glyphicon-earphone': order.DatePickup,
                                        'glyphicon-globe': order.Customer != undefined }"></md-icon>
                                    </strong>
                                    <strong ng-if="$mdMedia('(min-width: 800px)')" style="flex:1;">
                                        {{order.Timestamp}}
                                    </strong>
                                    <strong style="flex:1;">
                                        {{order.DatePickup.split("T")[0]
                                        + " " + order.DatePickup.split("T")[1].split(".")[0]}}
                                    </strong>
                                    <strong style="flex:1;" ng-if="order.Customer != undefined">
                                        {{order.Customer.FirstName + " " + order.Customer.LastName}}
                                    </strong>
                                    <strong style="flex:1;" ng-if="order.Customer == undefined">
                                        <div ng-if="order.customerLoyalty != undefined">
                                            {{order.customerLoyalty.CustomerFirstName
                                            + " " + order.customerLoyalty.CustomerLastName}}
                                        </div>
                                    </strong>
                                    <strong style="flex:1;">
                                        {{getItemsCount(order)}}
                                    </strong>
                                    <strong style="flex:1;">
                                        {{order.Total}}
                                    </strong>
                                </div>
                            </div>
                            <div class="productComment">{{order.ExtraInfos}}</div>
                        </div>
                    </div>
                </div>
                <div class="itemRow"
                     ng-if="modelDb.orderReady == true && (ordersInProgress == undefined || ordersInProgress.length == 0)">
                    <strong translate>Aucune commande à préparer</strong>
                </div>
            </uib-tab>
            <uib-tab>
                <uib-tab-heading>
                    <x translate>Commandes</x>
                    <div ng-if="orders.length > 0" class="tabNotif notifWarning">
			<span class="tabNotif-text">
				{{orders.length}}
			</span>
                    </div>
                </uib-tab-heading>

                <div class="itemRow" style="text-align: center;margin: 0 -15px">
                    <div style="margin: 0 15px;display:flex;">
                        <strong id="orderTypeIconC" style="flex:1"></strong>
                        <strong ng-if="$mdMedia('(min-width: 800px)')" style="flex:1;">
                            <md-icon md-svg-src="img/icons/shoppingcart.svg"></md-icon>
                        </strong>
                        <strong style="flex:1;">
                            <md-icon md-svg-src="img/icons/clock.svg"></md-icon>
                        </strong>
                        <strong style="flex:1;">
                            <md-icon md-svg-src="img/icons/user.svg"></md-icon>
                        </strong>
                        <strong style="flex:1;">
                            <md-icon md-svg-src="img/icons/box.svg"></md-icon>
                        </strong>
                        <strong style="flex:1;">
                            <md-icon md-svg-src="img/icons/euro.svg"></md-icon>
                        </strong>
                    </div>
                </div>

                <div ng-if="orders != undefined && orders.length > 0">
                    <div class="itemRow row" ng-repeat="order in orders track by $index"
                         ng-click="selectOrder(order)"
                         ng-style="(order.Customer != undefined || order.customerLoyalty != undefined) && {'line-height':'30px'} || {'line-height':'60px'}"
                         style="padding:5px 5px 0;line-height: 20px">

                        <div class="unFreezeTable" layout="column" style="height: 75px;" flex>
                            <div layout="row" style="align-items: center;" flex>
                                <div layout="row" style="line-height: 20px;align-items: center;" flex>
                                    <strong class="orderListTo" style="flex:1;">
                                        <md-icon class="glyphicon" ng-class="{'glyphicon-earphone': order.DatePickup,
							'glyphicon-globe': order.Customer != undefined }"></md-icon>
                                    </strong>
                                    <strong ng-if="$mdMedia('(min-width: 800px)')" style="flex:1;">
                                        {{order.Timestamp}}
                                    </strong>
                                    <strong style="flex:1;">
                                        {{order.DatePickup.split("T")[0]
                                        + " " + order.DatePickup.split("T")[1].split(".")[0]}}
                                    </strong>
                                    <strong style="flex:1;" ng-if="order.Customer != undefined">
                                        {{order.Customer.FirstName + " " + order.Customer.LastName}}
                                    </strong>
                                    <strong style="flex:1;" ng-if="order.Customer == undefined">
                                        <div ng-if="order.customerLoyalty != undefined">
                                            {{order.customerLoyalty.CustomerFirstName
                                            + " " + order.customerLoyalty.CustomerLastName}}
                                        </div>
                                    </strong>
                                    <strong style="flex:1;">
                                        {{getItemsCount(order)}}
                                    </strong>
                                    <strong style="flex:1;">
                                        {{order.Total | CurrencyFormat}}
                                    </strong>
                                </div>
                            </div>
                            <div class="productComment">{{order.ExtraInfos}}</div>
                        </div>
                    </div>
                </div>
                <div class="itemRow"
                     ng-if="modelDb.orderReady == true && (ordersInProgress == undefined || ordersInProgress.length == 0)">
                    <strong translate>Aucune commande à préparer</strong>
                </div>
            </uib-tab>
        </uib-tabset>
    </div>

    <div class="modal-footer">
        <button ng-if="selectedShoppingCarts.length > 1" class="btn btn-info" ng-click="join()"><span
                style="white-space:normal;font-weight: bold;" translate>Joindre tickets sélectionnés</span></button>
        <button class="btn btn-rose" ng-click="cancel()" translate>Annuler</button>
    </div>

</section>
