<section>

    <div ng-init="init()" class="modal-header">
        <h1 class="modal-title ng_scope" translate>Choisissez une opération</h1>
    </div>

    <uib-tabset ng-cloak>


        <uib-tab ng-click="setMode('MONTANT')">
            <tab-heading>
                <x translate>Montant</x>
            </tab-heading>

            <div style="height:50px; margin-top:20px; margin-bottom: 10px">
                <div class = "center">
                    <label for="splitAmount"> Montant : </label>
                    <text-field id="splitAmount" ng-model="result.montant" location="end-start" type="decimal" validfunction="okMontant" style="width:155px;"></text-field>
                </div>

                <div class="inp center" ng-if="errorMessageMontant">
                    <span class="labelErr">{{errorMessageMontant}}</span>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-success" ng-click="okMontant()" translate>OK</button>
                <button class="btn btn-rose" ng-click="cancel()" translate>Annuler</button>
            </div>

        </uib-tab>

        <uib-tab ng-click="setMode('PART')"
                 ng-if="false">
                 <!--ng-if="!item.isPartSplitItem || item.isPartSplitItem == false ">-->

            <tab-heading>
                <x translate>Part</x>
            </tab-heading>

            <div style="height:50px; margin-top:20px; margin-bottom: 10px">
                <div class = "center">
                    <label for="splitPart" translate> Nombre de parts : </label>
                    <text-field id="splitPart" ng-model="result.part" location="end-start" type="decimal" validfunction="okPart" style="width:155px;"></text-field>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-success" ng-click="okPart()" translate>OK</button>
                <button class="btn btn-rose" ng-click="cancel()" translate>Annuler</button>
            </div>
        </uib-tab>

    </uib-tabset>

</section>
