<section id="modalPickPaymentMode" class="modalCenterFS" ng-init="init()" ng-style="customStyle">
    <section class="groupModal" ng-style="{'flex': mdMedia('min-width: 800px') ? '3' : '2'}"
             ng-style="{'justify-content' : $root.borne && $root.borneVertical ? 'flex-end' : 'center'}">
        <img ng-src="{{$root.borneMainLogo && $root.borneMainLogo || 'img/logo.png'}}"
             class="imgLogoHeader" draggable="false" alt="" src=""/>
        <div class="firstTitle">
            <span translate>Moyen de paiement</span>
        </div>
    </section>
    <hr ng-class="{'smallModalHR': $root.borne && $root.borneVertical,
                        'smallModalHRH': $root.borne && !$root.borneVertical}"
        ng-style="{ 'background-color': $root.tenantColor }">
    <section class="groupModal groupPaymentModal" style="flex:4"
             ng-style="{'justify-content' : $root.borne && $root.borneVertical ? 'flex-start' : 'center'}">
        <md-button class="btnModalBig" ng-repeat="paymentMode in pmAvailable" ng-click="selectPm(paymentMode)">
            <div class="btnMbIcon">
                <img ng-src="{{paymentMode | PaymentTypeImg}}" alt="Image" width="75"
                     ng-style="{ 'fill': $root.tenantColor }" src=""/>
            </div>
            <hr class="verticalBtnMbHR"
                ng-style="{ 'background-color': $root.tenantColor }">
            <div class="btnMbText">
                <span class="mainBtnMbText">{{paymentMode.Text}}</span>
            </div>
        </md-button>
        <md-button class="btnModalBig"
                   ng-if="$root.borne && $root.borneAtCashier"
                   ng-click="payAtPos()">
            <div class="btnMbIcon">
                <md-icon md-svg-src="img/icons/cash.svg"
                         ng-style="{ 'fill': $root.tenantColor }"></md-icon>
            </div>
            <hr class="verticalBtnMbHR"
                ng-style="{ 'background-color': $root.tenantColor }">
            <div class="btnMbText">
                <span class="mainBtnMbText" translate>Au comptoir</span>
            </div>
        </md-button>
    </section>
    <md-button class="btnModalSmallS" ng-click="cancel()">
        <span translate>Retour</span>
    </md-button>
</section>