<section ng-init="init()">
    <div class="modal-header">
        <h1 class="modal-title">Statistiques</h1>
    </div>
    <uib-tabset ng-hide="loading || emptyData">
        <uib-tab>
            <tab-heading>
                <x translate>Comptabilité</x>
            </tab-heading>
            <div class="form-panel modal-body">
                <div style="overflow-x:scroll;">
                    <table id="tableCompta" class="table table-striped">
                        <thead>
                        <tr>
                            <th class="zheader" ng-repeat="column in columnsCompta" ng-if="column.isUsed" translate>
                                {{column.value}}
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="row in rowsCompta track by $index">
                            <td class="zvalue" ng-repeat="item in row track by $index" ng-if="item.show"
                                data-order="{{item.sort}}">{{item.value}}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <table class="table table-striped" style="max-width: 400px;">
                        <tr>
                            <td>Total TTC période</td>
                            <td>{{totalITPeriod | CurrencyFormat}}</td>
                        </tr>
                        <tr>
                            <td>Total HT période</td>
                            <td>{{totalETPeriod | CurrencyFormat}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </uib-tab>
        <uib-tab>
            <tab-heading>
                <x translate>Opérateurs</x>
            </tab-heading>
            <div class="form-panel modal-body">
                <div style="overflow-x:scroll;" ng-repeat="user in rowsOperat">
                    <h2>{{user.name}}</h2>
                    <table id="table{{user.name}}" class="table table-striped">
                        <thead>
                        <tr ng-repeat="userC in columnsOperat" ng-if="userC.name === user.name">
                            <th class="zheader" ng-repeat="column in userC.data" ng-if="column.isUsed" translate>
                                {{column.value}}
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="row in user.data track by $index">
                            <td class="zvalue" ng-repeat="item in row track by $index">{{item}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <table class="table table-striped" style="max-width: 400px;">
                    <tr>
                        <td>Total TTC période</td>
                        <td>{{totalITPeriod | CurrencyFormat}}</td>
                    </tr>
                    <tr>
                        <td>Total HT période</td>
                        <td>{{totalETPeriod | CurrencyFormat}}</td>
                    </tr>
                </table>
            </div>
        </uib-tab>
        <uib-tab>
            <tab-heading>
                <x translate>Métier</x>
            </tab-heading>
            <div class="form-panel modal-body">
                <div style="overflow-x:scroll;">
                    <table id="tableMetier" class="table table-striped">
                        <thead>
                        <tr>
                            <th class="zheader" ng-repeat="column in columnsMetier" ng-if="column.isUsed" translate>
                                {{column.value}}
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="row in rowsMetier track by $index">
                            <td class="zvalue" ng-repeat="item in row track by $index"
                                ng-if="item.show" data-order="{{item.sort}}">{{item.value}}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <table class="table table-striped" style="max-width: 400px;">
                        <tr>
                            <td>Total TTC période</td>
                            <td>{{totalITPeriod | CurrencyFormat}}</td>
                        </tr>
                        <tr>
                            <td>Total HT période</td>
                            <td>{{totalETPeriod | CurrencyFormat}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </uib-tab>
    </uib-tabset>
    <div ng-if="loading">
        <div style="text-align: center;">
            <h2>Chargement, Cela peut prendre jusqu'à une minute.</h2><br>
            <h2>Veuillez patienter...</h2>
        </div>
    </div>
    <div ng-if="emptyData">
        <div style="text-align: center;">
            <h2>Aucune donnée à afficher.</h2>
        </div>
    </div>
    <div class="modal-footer">
        <button ng-if="IziBoxConfiguration.EmailSmtpTargetZpos && !emptyData"
                class="btn btn-green" ng-click="emailZPos()" translate>Envoyer par email</button>
        <button class="btn btn-green" ng-click="printZPos()" ng-if="!emptyData" translate>Imprimer</button>
        <button class="btn btn-rose" ng-click="cancel()" translate>Annuler</button>
    </div>

</section>
