<section id="customerModal" class="modalCenterFS" ng-init="init()"
         ng-style="{'flex-direction' : $root.borne && $root.borneVertical ? 'column' : 'row'}">
    <section class="groupModal" style="flex:3"
             ng-style="{'justify-content' : $root.borne && $root.borneVertical ? 'flex-end' : 'center'}">
        <md-icon class="imgLogoHeader" md-svg-src="img/icons/logo-ip.svg"></md-icon>
        <div class="firstTitle">
            <span translate>Mon compte fidélité</span>
        </div>
    </section>
    <hr ng-class="{'smallModalHR': $root.borne && $root.borneVertical,
                        'smallModalHRH': $root.borne && !$root.borneVertical}"
        ng-style="{ 'background-color': $root.tenantColor }">
    <section class="groupModal" style="flex:4"
             ng-style="{'justify-content' : $root.borne && $root.borneVertical ? 'flex-start' : 'center'}">
        <div class="loyaltyFormGroup"
             ng-style="{'padding' : $root.borne && $root.borneVertical ? '75px' : '25px 50px',
             'margin' : $root.borne && $root.borneVertical ? '50px 0 0' : '0'}">
            <text-field-borne id="lastName" ng-model="newLoyalty.CustomerLastName" validfunction="$root.closeKeyboard"
                              nativekeyboard="true" location="center-end" type="azerty" fieldname="Nom"
                              mandatory="true"></text-field-borne>
            <text-field-borne id="firstName" ng-model="newLoyalty.CustomerFirstName" validfunction="$root.closeKeyboard"
                              nativekeyboard="true" location="center-end" type="azerty" fieldname="Prénom"
                              mandatory="true"></text-field-borne>
            <text-field-borne id="email" ng-model="newLoyalty.CustomerEmail" validfunction="$root.closeKeyboard"
                              nativekeyboard="true" location="center-end" type="azerty" fieldname="Email"
                              mandatory="true"></text-field-borne>
            <text-field-borne id="streetAddress" ng-model="newLoyalty.CustomerStreetAddress"
                              validfunction="$root.closeKeyboard" ng-if="signInSettings.StreetAddress"
                              nativekeyboard="true" location="center-end" type="azerty"
                              fieldname="Adresse"></text-field-borne>
            <text-field-borne id="streetAddress2" ng-model="newLoyalty.CustomerStreetAddress2"
                              validfunction="$root.closeKeyboard" ng-if="signInSettings.StreetAddress2"
                              nativekeyboard="true" location="center-end" type="azerty"
                              fieldname="Adresse 2"></text-field-borne>
            <div class="groupTextfield">
                <text-field-borne id="city" ng-model="newLoyalty.CustomerCity" validfunction="$root.closeKeyboard"
                                  nativekeyboard="true" location="center-end" type="azerty" fieldname="Ville"
                                  mandatory="true" style="margin:0 26px 0 0;"
                                  ng-if="signInSettings.City"></text-field-borne>
                <text-field-borne id="ZipPostalCode" ng-model="newLoyalty.CustomerZipPostalCode"
                                  validfunction="$root.closeKeyboard" ng-if="signInSettings.ZipPostalCode"
                                  nativekeyboard="true" location="center-end" type="azerty" fieldname="Code Postal"
                                  mandatory="true" style="margin:0;"></text-field-borne>
            </div>
            <text-field-borne id="phone" ng-model="newLoyalty.CustomerPhone" validfunction="$root.closeKeyboard"
                              nativekeyboard="true" location="center-end" type="azerty"
                              fieldname="Téléphone" ng-if="signInSettings.Phone"></text-field-borne>
            <text-field-borne id="fax" ng-model="newLoyalty.CustomerFax" validfunction="$root.closeKeyboard"
                              nativekeyboard="true" location="center-end" type="azerty" fieldname="Fax"
                              ng-if="signInSettings.Fax"></text-field-borne>
            <text-field-borne id="company" ng-model="newLoyalty.CustomerCompany" validfunction="$root.closeKeyboard"
                              nativekeyboard="true" location="center-end" type="azerty"
                              fieldname="Société" ng-if="signInSettings.Company"></text-field-borne>
            <text-field-borne id="txtBarcodeCustomer" ng-model="newLoyalty.barcode.barcodeValue"
                              validfunction="$root.closeKeyboard"
                              nativekeyboard="true" location="center-end" type="azerty"
                              fieldname="No Carte"></text-field-borne>
            <md-checkbox ng-model="pubMail" class="checkboxBorneH"
                         ng-style="{ 'background-color' : pubMail ? 'white' : $root.tenantColor,
                     'border-color' : pubMail ? '#E5E5E5' :  $root.tenantColor }" translate>
                J'accepte de recevoir par mail les informations concernant mon compte et les offres de fidélité
            </md-checkbox>
            <md-checkbox ng-model="acceptRules" class="checkboxBorneH cbM"
                         ng-style="{ 'background-color' : acceptRules ? $root.tenantColor : 'white',
                     'border-color' : acceptRules ? $root.tenantColor : '#E5E5E5' }" translate>
                En cliquant sur cette case, vous acceptez notre politique sur les données personnelles
            </md-checkbox>
            <div class="groupBtn">
                <md-button class="btnModalSmall" style="margin-right: 26px;" ng-click="close()">
                    <span class="mainBtnMsText" translate>Annuler</span>
                </md-button>
                <md-button class="btnModalSmall colored"
                           ng-style="{ 'background-color': $root.tenantColor }"
                           ng-click="validCustomer()">
                    <span class="mainBtnMsText" style="color: white;" translate>Enregistrer</span>
                </md-button>
            </div>
        </div>
    </section>
</section>