<section>
    <div ng-init="init()" class="modal-header">
        <h1 class="modal-title">Izibox</h1>
    </div>
    <div class="form-panel modal-body">
        <md-radio-group ng-model="model.selectedConfig">
            <md-radio-button ng-repeat="config in model.configs" value="{{config}}">{{config._id}}&nbsp;({{config.LocalIpIziBox}})</md-radio-button>
        </md-radio-group>
    </div>
    <div class="modal-footer">
        <md-button class="md-raised btn-orange validBtn" title="Valid config" ng-click="reset()">{{ "Rechercher IziBox" | translate }}</md-button>
        <button ng-if="model.selectedConfig" class="btn btn-green" ng-click="ok()">OK</button>
    </div>
</section>
