<md-content ng-controller="ConfigurableMenuController" ng-init="init()"
            ng-class="{'isBorneVertical': $root.borneVertical}"
            class="configurableMenu" layout="row">
    <div layout="column" style="padding-bottom:0;" flex>
        <div id="configurableMenuHeader" layout="column" class="heading">
            <div class="title"><h3 class="title-text">{{product.Name}} : {{TotalPrice | CurrencyFormat}}</h3></div>
            <div class="editStep" ng-show="IziBoxConfiguration.StepEnabled && !borne">
                <md-button aria-label="NavigAttr" class="md-fab md-mini" ng-click="moveStep(-1)"><span
                        class="glyphicon glyphicon-minus"></span></md-button>
                <span class="stepName">{{currentStep | StepName:stepNames}}</span>
                <md-button aria-label="NavigAttr" class="md-fab md-mini" ng-click="moveStep(1)"><span
                        class="glyphicon glyphicon-plus"></span></md-button>
            </div>
            <div class="text-center">
                <md-button aria-label="NavigAttr" ng-repeat="attr in product.ProductAttributes track by $index"
                           class="md-raised navigAction navSimple" ng-click="scrollTo(attr.Id)">{{attr.Name | Truncate:16}}
                </md-button>
            </div>
        </div>
        <md-content class="attributes" id="attributes">
            <div id="a{{attribute.Id}}" ng-repeat="attribute in product.ProductAttributes track by $index">
                <div class="attributesPanel">
                    <div class="attributesPanelInfos text-center">
                        <span class="title text-uppercase">{{attribute.Name}}</span>
                        <span class="info" data-ng-bind-html="attribute.Description"
                              ng-show="$root.borneVertical ?
                              mdMedia('min-width: 800px') :
                              mdMedia('min-height: 800px')"></span>
                    </div>
                    <div layout="row" layout-xs="row" layout-wrap layout-align="center center">
                        <div ng-repeat="pav in attribute.ProductAttributeValues track by $index"
                             ng-init="attributeIsDisabled = pav.LinkedProduct && (pav.LinkedProduct.ManageInventoryMethodId === 1 && pav.LinkedProduct.StockQuantity === 0)"
                             class="caseAttribute"
                             flex="20" flex-xs="50" flex-sm="50" flex-md="30">
                            <md-button aria-label="attributeBox" layout-fill class="attributeBox"
                                       ng-class="{ 'disable': attributeIsDisabled,
                                        'active' : !attributeIsDisabled && pav.Selected == 1}"
                                       ng-click="attributeIsDisabled ?
                                       null : selectAttributeValue(pav.ProductAttributeId,pav.Id)">
                                <div layout="column" layout-fill>
                                    <div class="conteneur-images">
                                        <img class="imgAttribute" ng-src="{{pav.DefaultPictureUrl}}" src="" alt=""/>
                                    </div>
                                    <div class="attributeInfo-text">
                                        <div ng-show="pav.LinkedProduct" data-ng-bind-html="pav.LinkedProduct.Name"></div>
                                        <div ng-show="!pav.LinkedProduct" data-ng-bind-html="pav.Name"></div>
                                    </div>

                                    <div class="attributeInfo-text" layout="column" layout-align="center center">
                                        <div ng-show="attributeIsDisabled">
                                            <i class="glyphicon glyphicon-warning-sign"></i>
                                            <x translate>Rupture</x>
                                        </div>
                                        <span ng-show="pav.PriceAdjustment" class="priceAdjustment">+ {{pav.PriceAdjustment | CurrencyFormat}} </span>
                                        <span ng-show="IziBoxConfiguration.StepEnabled && pav.Selected">{{attribute.Step | StepName:stepNames}}</span>
                                        <span class="attributeInfo-comment" ng-show="pav.Comment && pav.Comment!=''">{{pav.Comment}}</span>
                                    </div>
                                </div>
                            </md-button>
                        </div>
                    </div>
                </div>
            </div>
        </md-content>
    </div>
    <div id="commandMenuDetails" layout="column">
        <div class="block-recap-commande" flex>
            <p class="recap-commande">
                <x translate>Votre</x>
                {{product.Name}}
            </p>
            <div ng-repeat="attribute in product.ProductAttributes track by $index">
                <div ng-repeat="pav in attribute.ProductAttributeValues track by $index" class="blockFormuleRecap">
                    <img ng-show="pav.Selected=='1'" ng-src="{{pav.DefaultPictureUrl}}" class="imgAttributeRecap" src="" alt=""/>
                    <div ng-show="pav.Selected=='1'" data-ng-bind-html="pav.Name" class="nameFormuleRecap"></div>
                    <div class="PriceAdjustmentFormuleRecap" ng-show="pav.Selected=='1' && pav.PriceAdjustment">+
                        {{pav.PriceAdjustment | CurrencyFormat}}
                    </div>
                </div>
            </div>
        </div>
        <md-button aria-label="AddToCart" ng-click="addToSC(product)" ng-show="canAddToCart"
                   class="md-raised btnValidFormule">
            <x translate>Valider</x>
        </md-button>
    </div>
</md-content>