<md-content ng-controller="ConfigurableMenuListController" id="ConfigurableMenuList" ng-init="init()"
            ng-class="{'isBorneVertical': $root.borne && $root.borneVertical}" class="borneVStr">
    <div class="menuHeader">
        <h1 class="cBRTitle"
            ng-style="{ 'border-color' : $root.tenantColor}">Composez votre menu</h1>
        <div class="returnBtnWrap">
            <div class="leftArrow" ng-style="{ 'border-right-color' : $root.tenantColor}"></div>
            <div class="returnBtn" ng-style="{ 'background-color' : $root.tenantColor}"
                 ng-click="returnToCat(product)" translate>Retour</div>
        </div>
    </div>
    <section id="allCategories" class="mainGroupOrder"
             ng-style="{'flex-direction' :  $rootScope.borne && $rootScope.borneVertical ? 'column' : 'row'}">
        <div class="summaryList" ng-style="{'width' :  $rootScope.borne && $rootScope.borneVertical ? '100%' : '750px',
            'max-height' : canAddToCart && !productListOpen ? ($mdMedia('min-width: 800px') ? 'initial' : '126px') : ($rootScope.isPMREnabled ? '200px' :
            ($rootScope.borne && $rootScope.borneVertical ? ($mdMedia('min-width: 800px') ? '500px' : '126px') : 'calc(100% - 50px'))}">
            <div ng-repeat="attribute in product.ProductAttributes track by $index" ng-click="attributeNext(attribute.DisplayOrder)">
                <div class="orderSProduct" ng-repeat="v in attribute.ProductAttributeValues track by $index"
                     ng-style="{'margin-bottom' : $root.borne && $root.borneVertical ? ($mdMedia('min-width: 800px') ? '50px' : '5px') : '40px'}"
                     ng-if="v.Selected">
                    <img ng-src="{{v.DefaultPictureUrl}}" src=""/>
                    <div data-ng-bind-html="v.Name"></div>
                    <span ng-if="v.PriceAdjustment"
                          ng-style="{ 'color' : $root.tenantColor}">{{v.PriceAdjustment | CurrencyFormat}}</span>
                    <span ng-if="!v.PriceAdjustment && $index == 0"></span>
                </div>
            </div>
            <div aria-label="NavigAttr" ng-repeat="attr in product.ProductAttributes track by $index"
                 class="btnStepBorne {{$index}}" ng-click="attributeNext(attr.DisplayOrder)"
                 ng-style="{'background-color' : $root.tenantColor}"
                 ng-if="attr.classDisplay == 'flex' && !canAddToCart">{{attr.Name}}
            </div>
        </div>
        <div ng-class="{ 'productCatMenuList' : $root.borne && $root.borneVertical,
            'productCatMenuListHoriz' : $root.borne && !$root.borneVertical }"
             ng-style="{ 'padding-top' : canAddToCart || ($root.borne && !$root.borneVertical) ? '0' : ($mdMedia('min-width: 800px') ? '50px' : '5px')}">
            <div id="{{attribute.Name.split(' ').join('')}}" ng-repeat="attribute in product.ProductAttributes track by $index"
                 class="productsCat" ng-style="{'display':attribute.classDisplay}" displayorder="{{$index}}">
                <div class="groupProductsCat">
                    <div ng-repeat="v in attribute.ProductAttributeValues track by $index" class="itemCatMenuList configurable"
                         ng-class="{ 'disable': v.DisableBuyButton, 'active' : !v.DisableBuyButton && v.Selected == 1 }"
                         ng-if="!canAddToCart || allowShowCat">
                        <div class="productboxIZIPASS medium configurable"
                             ng-click="v.DisableBuyButton ? null : selectAttributeValue(v.ProductAttributeId,v.Id)">
                            <div class="imgProduct configurable">
                                <img alt="" ng-src="{{v.DefaultPictureUrl}}" class="image" src=""/>
                            </div>
                            <div class="titleRow" ng-if="v.LinkedProduct">{{v.LinkedProduct.Name}}</div>
                            <div class="titleRow" ng-if="!v.LinkedProduct">{{v.Name}}</div>
                            <div class="price">
                                <span ng-if="!v.DisableBuyButton && v.PriceAdjustment"
                                      ng-style="{ 'color' : $root.tenantColor}">+&nbsp;{{v.PriceAdjustment | CurrencyFormat}}</span>
                                <span ng-if="v.DisableBuyButton">Rupture</span>
                            </div>
                        </div>
                    </div>
                </div>
                <md-button ng-click="attributeNextButton(attribute)"
                           class="btnSkipStep" ng-if="attribute.Type == 3 && !canAddToCart" translate>
                    Etape Suivante
                </md-button>
                <div class="pubProductsCut"
                     ng-style="{ 'bottom' : attribute.Type == 3 || (attribute.Type != 3 && canAddToCart) ? '400px' : '67px'}"></div>
            </div>
        </div>
    </section>
    <div class="rowConfirmOrderML" ng-if="canAddToCart">
        <div class="totalOrderML">
            <span translate>Total</span>
            <span class="price"
                  ng-style="{ 'color' : $root.tenantColor}">{{product.Price | CurrencyFormat}}</span>
        </div>
        <md-button class="btnConfirmMenuList"
                   ng-style="{ 'background-color' : $root.tenantColor}"
                   aria-label="AddToCart"
                   ng-click="addToCart(product)">
            <span translate>Valider ma compo'</span>
        </md-button>
    </div>
    <div ng-class="{'pubProductsList' : $root.borne && $root.borneVertical, 'pubProductsListHoriz' : $root.borne && !$root.borneVertical}"
         ng-style="{'background-image': $root.bornePubImages ? 'url(' + $root.bornePubImages[0] + ')' : 'url(\'img/ad.png\')'}"
         ng-if="!$rootScope.isPMREnabled"></div>
</md-content>