<div class="shoppingCartSplit">
    <uib-accordion close-others="false">
        <uib-accordion-group id="panelTotal" class="panel panel-default miniBasket panel-total" is-open="true">
            <uib-accordion-heading>
                <span style="margin-right: 4px;">{{currentSCRight.Total | CurrencyFormat}}</span>
            </uib-accordion-heading>
            <div class="panel-body itemsPanel">
                <div style="margin-top: -1px;">
                    <div ng-show="currentSCRight.TableCutleries">
                        <label for="nbCouvertSplit" translate>Couvert(s)</label>
                        <text-field id="nbCouvertSplit" ng-model="result.nb" location="end-start" type="numeric"
                                    validfunction="closeKeyboard" style="width: 55px;height:33px;"></text-field>
                    </div>
                    <div ng-repeat="item in currentSCRight.Discounts" style="text-align:center;padding-bottom:0" class="itemRow">
                        <div class="productLine">
                            <strong translate>REMISE</strong>
                            <strong ng-show="!item.IsPercent">&nbsp;{{rightMDiscount}}&nbsp;{{IziPosConfiguration.Currency.currencySymbol}}</strong>
                            <strong ng-show="item.IsPercent">&nbsp;{{item.Value}}&nbsp;%</strong>
                        </div>
                    </div>
                </div>
            </div>
        </uib-accordion-group>
        <uib-accordion-group heading="Ticket" id="miniBasketHeader" is-open="true" class="panel panel-default miniBasket">
            <div id="miniBasketItemsSplit" class="panel-body shoppingCartPanel">
                <div style="margin-top: -1px;">
                    <div ng-repeat="item in currentSCRight.Items track by $index" class="itemRow"
                         ng-attr-id="{{'itemRow'+item.$$hashkey}}" layout="column">
                        <div layout="column">
                            <div layout="row">
                                <div style="width:40px;margin:auto;">
                                    <md-button aria-label="sendToOut" ng-click="sendToOut(item)" class="md-icon-button">
                                        <span class="glyphicon glyphicon-arrow-left"></span>
                                    </md-button>
                                </div>
                                <div class="productLine" layout="column" flex>
                                    <strong>{{item.Product.Name}}</strong>

                                    <div layout="row" ng-show="item.Quantity > 0" style="white-space: nowrap;">
                                        <!-- ng-show="item.Quantity > 1 && !item.isPartSplitItem" -->
                                        <strong ng-show="item.Quantity !=1">x {{item.Quantity | QuantityFormat}}&nbsp;</strong>
                                        <div style="display: flex; align-items: center;">
                                            <span>(</span>
                                            <span ng-show="item.IsFree">{{0 | CurrencyFormat}}</span>
                                            <span ng-show="!item.IsFree">{{(item.Product.Price * item.Quantity) | CurrencyFormat}}</span>
                                            <span ng-show="(item.DiscountIT && item.DiscountIT!=0)">- {{ item.DiscountIT | CurrencyFormat }}</span>
                                            <span>)</span>
                                        </div>
                                    </div>
                                    <div>
                                        <div ng-repeat="attr in item.Attributes" style="display:flex;font-size:14px;">
                                            <div style="padding:0" data-ng-bind-html="attr.Name"
                                                 ng-show="mdMedia('min-width: 800px') || (attr.PriceAdjustment && attr.PriceAdjustment!=0)"></div>
                                            <div ng-show="attr.PriceAdjustment && attr.PriceAdjustment!=0"
                                                 style="padding:0;margin-left:5px;">
                                                + {{attr.PriceAdjustment | CurrencyFormat }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </uib-accordion-group>
    </uib-accordion>
</div>