<div class="shoppingCartSplit">
    <uib-accordion close-others="false">

        <uib-accordion-group id="panelTotal" class="panel panel-default miniBasket panel-total" is-open="true">
            <uib-accordion-heading>
                <span style="margin-right: 4px;">{{currentShoppingCartIn.Total | CurrencyFormat}}</span>
            </uib-accordion-heading>
            <div class="panel-body itemsPanel">
                <div style="margin-top: -1px;">
                    <div ng-show="currentShoppingCartOut.TableCutleries">
                        <label for="nbCouvertSplit" translate>Couvert(s)</label>

                        <text-field id="nbCouvertSplit" ng-model="result.nb" location="end-start" type="numeric"
                                    validfunction="closeKeyboard"
                                    style="width: 55px;height:33px;"></text-field>
                    </div>
                    <div ng-repeat="item in currentShoppingCartIn.Discounts" class="itemRow">
                        <div class="productLine col-md-8">
                            <strong translate>REMISE</strong>

                            <strong> {{item.Value}}</strong>
                            <strong ng-if="item.IsPercent == false">
                                {{IziPosConfiguration.Currency.currencySymbol}}</strong>
                            <strong ng-if="item.IsPercent == true"> %</strong>

                            <span>( {{item.Total | CurrencyFormat}} )</span>

                        </div>

                    </div>
                </div>
            </div>

        </uib-accordion-group>


        <uib-accordion-group heading="Ticket" id="miniBasketHeader" is-open="true"
                             class="panel panel-default miniBasket">
            <div id="miniBasketItemsSplit" class="panel-body shoppingCartPanel">
                <div style="margin-top: -1px;">
                    <div ng-repeat="item in currentShoppingCartIn.Items track by $index" class="itemRow"
                         ng-attr-id="{{'itemRow'+item.$$hashKey}}" layout="column">
                        <div layout="column">
                            <div layout="row">
                                <div style="width:40px;margin:auto;">
                                    <md-button aria-label="sendToOut" ng-click="sendToOut(item)" class="md-icon-button">
                                        <span class="glyphicon glyphicon-arrow-left"></span>
                                    </md-button>
                                </div>
                                <div class="productLine" layout="column" flex>
                                    <strong>{{item.Product.Name}}</strong>

                                    <div layout="row" ng-if="item.Quantity > 0" style="white-space: nowrap;">
                                        <!-- ng-show="item.Quantity > 1 && !item.isPartSplitItem" -->
                                        <strong ng-if="item.Quantity !=1">x {{item.Quantity | number :
                                            2}}&nbsp;</strong>
                                        <!--
                                        <strong ng-show="item.isPartSplitItem">x

                                            <span ng-if="!item.dispFraction">
                                                {{(item.Product.Price + item.splittedAmount) / item.Product.Price | number : 2}}
                                            </span>

                                            <div class="frac" ng-if="item.dispFraction == true">
                                                <span>1</span>
                                                <span class="symbol"></span>
                                                <span class="bottom">
                                                      {{ 1 / ((item.Product.Price +
                                                      item.splittedAmount)/item.Product.Price) |
                                                      number : 0}}
                                                </span>
                                            </div>

                                        </strong>
                                        -->
                                        <div style="display: flex; align-items: center;">
                                            <span>(</span>
                                            <span ng-if="item.IsFree">{{0 | CurrencyFormat}}</span>
                                            <span ng-if="!item.IsFree">{{(item.Product.Price * item.Quantity) | CurrencyFormat}}</span>
                                            <span ng-if="(item.DiscountIT && item.DiscountIT!=0)">- {{ item.DiscountIT | CurrencyFormat }}</span>
                                            <span>)</span>
                                        </div>
                                    </div>
                                    <div>
                                        <div ng-repeat="attr in item.Attributes" style="display:flex;font-size:14px;">
                                            <div style="padding:0" data-ng-bind-html="attr.Name"
                                                 ng-if="mdMedia('min-width:800px') || (attr.PriceAdjustment && attr.PriceAdjustment!=0)"></div>
                                            <div ng-if="attr.PriceAdjustment && attr.PriceAdjustment!=0"
                                                 style="padding:0;margin-left:5px;">+ {{attr.PriceAdjustment |
                                                CurrencyFormat }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </uib-accordion-group>


    </uib-accordion>
</div>    

