<md-content class="catalog" ng-controller="CatalogController" ng-init="init()" layout="column" layout-fill>
    <div id="catalogMenuDiv" ng-include="'views/catalogMenu.html'"></div>
    <md-sidenav class="md-sidenav-left md-whiteframe-z2 drawerMenu" md-component-id="drawerMenuDiv" id="drawerMenuDiv"
                ng-include="'views/catalogDrawerMenu.html'">
    </md-sidenav>
    <md-content layout="row" style="overflow-y: hidden" flex>
        <md-content id="catalogViewDiv" flex ui-view layout="column">
        </md-content>

        <!-- ng-if="$mdMedia('min-width: 800px')" -->
        <md-sidenav class="miniBasketPOS md-whiteframe-z2 md-sidenav-right" md-is-locked-open="$root.showShoppingCart">
            <md-content class="catalogBasketDiv" ng-include="'views/miniBasket.html'" layout="column" flex>
            </md-content>
        </md-sidenav>
        <!--
		<md-content class="miniBasketPAD" ng-if="$mdMedia('max-width: 799px')">
			<md-content class="catalogBasketDiv" ng-include="'views/miniBasketPAD.html'" layout="column" flex>
			</md-content>
		</md-content>
		-->
    </md-content>

    <script type="text/ng-template" id="warning-dialog.html">
        <div class="modal-header">
            <h3 translate>Attention ! Mise en veille !</h3>
        </div>
        <div idle-countdown="countdown" ng-init="countdown=15" class="modal-body">
            <uib-progressbar max="15" value="15" animate="false" class="progress-striped active">
                <x translate>Mise en veille dans</x>
                {{countdown}}
                <x translate>secondes</x>
                .
            </uib-progressbar>
        </div>
    </script>
</md-content>
