<md-content class="configuration" ng-controller="ConfigurationController" ng-init="init()" layout="column"
            layout-align="start center" layout-fill layout-padding>
    <md-button class="md-fab md-mini md-fab-top-right" ng-if="IziBoxConfiguration != undefined && !isBrowser"
               aria-label="ClearCache" style="top:0;right:0;line-height:20px;background:#464646"
               ng-click="emptyCache()">
        <img style="width:20px;height:20px;" class="btn-action-image" alt="Image" src="img/trash.png">
    </md-button>
    <div>
        <img style="width:70px;height:70px" src="img/logo.png"/>
        <span class="labelversion">{{Version}}</span>
    </div>
    <div>
        <h1 style="margin-top:15px" ng-if="IziBoxConfiguration == undefined">
            <x translate>Veuillez patienter</x>
            ...
        </h1>
        <h1 style="margin-top:15px" ng-if="IziBoxConfiguration != undefined" translate>Configuration</h1>
    </div>
    <md-content ng-if="IziBoxConfiguration != undefined">
        <div class="configRow" style="border-bottom:1px solid #C2C2C2;" layout="row" layout-align="center center"
             layout-wrap>
            <div layout="column" layout-wrap>
                <div layout="row" layout-align="start center" layout-wrap>
                    <div class="title" style="min-width:155px">
                        <b translate>Imprimante caisse</b><b> : </b>
                    </div>
                    <div class="value" style="min-width:250px">
                        <md-radio-group ng-model="PrinterConfiguration.POSPrinter" layout="row">
                            <md-radio-button value="1">1</md-radio-button>
                            <md-radio-button value="2">2</md-radio-button>
                            <md-radio-button value="3">3</md-radio-button>
                            <md-radio-button value="4">4</md-radio-button>
                            <md-radio-button value="5">5</md-radio-button>
                        </md-radio-group>
                    </div>
                </div>
                <div layout="row" layout-align="start center" layout-wrap>
                    <div class="title" style="min-width:155px">
                        <b translate>Nb impression</b><b> : </b>
                    </div>
                    <div class="value" style="min-width:250px">
                        <md-radio-group ng-model="PrinterConfiguration.POSPrinterCount" layout="row">
                            <md-radio-button value="1">1</md-radio-button>
                            <md-radio-button value="2">2</md-radio-button>
                            <!--<md-radio-button value="3">3</md-radio-button>
                            <md-radio-button value="4">4</md-radio-button>-->
                        </md-radio-group>
                    </div>
                </div>
            </div>
            <md-button ng-click="testPrinter(PrinterConfiguration.POSPrinter)" class="btn-rose">Test</md-button>
        </div>

        <div class="configRow" style="border-bottom: 1px solid #C2C2C2;" layout="row" layout-align="center center"
             layout-wrap>
            <div layout="column" layout-wrap>
                <div layout="row" layout-align="start center" layout-wrap>
                    <div class="title" style="min-width:155px" ng-if="borne">
                        <b translate>Imprimante borne</b><b> : </b>
                    </div>
                    <div class="title" style="min-width:155px" ng-if="!borne">
                        <b translate>Imprimante prod.</b><b> : </b>
                    </div>
                    <div class="value" style="min-width:250px">
                        <md-radio-group ng-model="PrinterConfiguration.ProdPrinter" layout="row">
                            <md-radio-button value="1">1</md-radio-button>
                            <md-radio-button value="2">2</md-radio-button>
                            <md-radio-button value="3">3</md-radio-button>
                            <md-radio-button value="4">4</md-radio-button>
                            <md-radio-button value="5">5</md-radio-button>
                        </md-radio-group>
                    </div>
                </div>
                <div layout="row" layout-align="start center" layout-wrap>
                    <div class="title" style="min-width:155px">
                        <b translate>Nb impression</b><b> : </b>
                    </div>
                    <div class="value" style="min-width:250px">
                        <md-radio-group ng-model="PrinterConfiguration.ProdPrinterCount" layout="row">
                            <md-radio-button value="1">1</md-radio-button>
                            <md-radio-button value="2">2</md-radio-button>
                            <md-radio-button value="3">3</md-radio-button>
                            <md-radio-button value="4">4</md-radio-button>
                        </md-radio-group>
                    </div>
                </div>
            </div>
            <md-button ng-click="testPrinter(PrinterConfiguration.ProdPrinter)" class="btn-rose">Test</md-button>
        </div>

        <div class="configRow" style="border-bottom: 1px solid #C2C2C2; padding:10px 0" layout="row"
             layout-align="center center" layout-wrap>
            <div layout="column" layout-wrap>
                <div layout="row" layout-align="start center" layout-wrap>
                    <div class="title" style="min-width:155px">
                        <b translate>Caisse no</b><b> : </b>
                    </div>
                    <div class="value" style="min-width:250px">
                        <md-radio-group ng-model="modelPos.posNumber" layout="row">
                            <md-radio-button value="1">1</md-radio-button>
                            <md-radio-button value="2">2</md-radio-button>
                            <md-radio-button value="3">3</md-radio-button>
                            <md-radio-button value="4">4</md-radio-button>
                            <md-radio-button value="5">5</md-radio-button>
                        </md-radio-group>
                    </div>
                </div>
            </div>
        </div>
        <div class="configRow" style="border-bottom: 1px solid #C2C2C2; padding:10px 0" layout="row"
             layout-align="center center" ng-if="IziBoxConfiguration.EnableBorne" layout-wrap>
            <div layout="column" layout-wrap>
                <div layout="row" layout-align="start center" layout-wrap>
                    <div class="title" style="min-width:155px">
                        <b translate>Mode borne</b> :
                    </div>
                    <div class="value" style="min-width:250px">
                        <md-switch ng-model="$root.borne" aria-label="Enable?"></md-switch>
                    </div>
                </div>
            </div>
        </div>

        <!--<div ng-if="RatioConfiguration.Enabled" class="configRow" layout="row" layout-align="start center" layout-wrap>
            <div class="title" flex="35">
                <b translate>Ratio paysage</b><b> : </b>
            </div>
            <div class="value" flex="auto">
                <text-field tostring="true" id="txtLandscapeRatio" ng-model="Model.LandscapeRatio" location="end-start" type="decimal" validfunction="updateLandscapeRatio()" style="width:40px"></text-field>
            </div>
        </div>

        <div ng-if="RatioConfiguration.Enabled" class="configRow" layout="row" layout-align="start center" layout-wrap>
            <div class="title" flex="35">
                <b translate>Ratio portrait</b><b> : </b>
            </div>
            <div class="value" flex="auto">
                <text-field tostring="true" id="txtPortraitRatio" ng-model="Model.PortraitRatio" location="end-start" type="decimal" validfunction="updatePortraitRatio()" style="width:40px"></text-field>
            </div>
        </div>-->


        <div class="configRow" layout="row" layout-align="start center" layout-wrap>
            <div class="title" flex="35">
                <b translate>Preset de config.</b><b> : </b>
            </div>
            <div class="value" layout="row" layout-align="center center" flex>

                <div class="btn-group" ng-if="presetList.length > 0" uib-dropdown is-open="status.isopenPresets" style="margin-right:5px">
                    <button id="preset-button" type="button" style="width:120px" class="btn btn-default"
                            uib-dropdown-toggle
                            ng-disabled="disabled">
                        {{ selectedPresetTitle ? selectedPresetTitle : "Aucun" }}
                        <span style="margin-top:8px;float:right" class="caret"></span>
                    </button>
                    <ul class="uib-dropdown-menu" style="width:120px" role="menu" aria-labelledby="selectedPresetID">
                        <li ng-repeat="preset in presetList track by $index" layout="row" layout-align="space-between center">
                            <a ng-click="selectUserPreset(preset)" class="menuItemLink">{{preset.value.name}}</a>
                            <span ng-click="deleteUserPreset(preset)" class="menuItemDelete glyphicon glyphicon-remove"></span>
                        </li>
                        <li>
                            <a ng-click="createUserPreset()"> + Nouveau</a>
                        </li>
                    </ul>
                </div>
                <div ng-if="presetList.length == 0" style="margin-right:5px">
                    <a ng-click="createUserPreset()"> Nouveau profil</a>
                </div>

                <button class="btn btn-success" ng-if="selectedPresetID && selectedPresetID != 0" ng-click="editUserPreset()">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>

                <button class="btn btn-info" ng-click="fetchUserPresets()">
                    <span class="glyphicon glyphicon-refresh"></span>
                </button>
            </div>


        </div>

        <div class="configRow" layout="row" layout-align="start center" layout-wrap>
            <div class="title" flex="35">
                <b>Hardware Id :</b>
            </div>
            <div class="value" flex="auto">
                <span>{{modelPos.hardwareId}}</span>
            </div>
        </div>

        <div class="configRow" layout="row" layout-align="start center" layout-wrap>
            <div class="title" flex="35">
                <b>IziBox :</b>
            </div>
            <div class="value" flex="auto">
                <span>{{IziBoxConfiguration.LocalIpIziBox}}</span>
            </div>
        </div>

        <div class="configRow" layout="row" layout-align="start center" layout-wrap>
            <div class="title" flex="35">
                <b>Version IziBox :</b>
            </div>
            <div class="value" flex="auto">
                <span>{{IziBoxConfiguration.VersionIziBox}}</span>
            </div>
        </div>

        <!--<div class="configRow" layout="row" layout-align="start center" layout-wrap >
            <div class="title" flex="35">
                <b>CouchDB :</b>
            </div>
            <div class="value" flex="auto">
                <span>{{IziBoxConfiguration.UrlCouchDb}}</span>
            </div>
        </div>-->

        <div class="configRow" layout="row" layout-align="start center" layout-wrap>
            <div class="title" flex="35">
                <b>IdxCouchDB :</b>
            </div>
            <div class="value" flex="auto">
                <span>{{IziBoxConfiguration.IdxCouchDb}}</span>
            </div>
        </div>

        <div class="configRow" layout="row" layout-align="start center" layout-wrap>
            <div class="title" flex="35">
                <b>Fid API :</b>
            </div>
            <div class="value" flex="auto">
                <span>{{IziBoxConfiguration.UrlSmartStoreApi}}</span>
            </div>
        </div>

        <div class="configRow" layout="row" layout-align="start center" layout-wrap>
            <div class="title" flex="35">
                <b>StoreId :</b>
            </div>
            <div class="value" flex="auto">
                <span>{{IziBoxConfiguration.StoreId}}</span>
            </div>
        </div>

        <div class="configRow" layout="row" layout-align="start center" layout-wrap>
            <div class="title" flex="35">
                <b>LoginRequired :</b>
            </div>
            <div class="value" flex="auto">
                <span>{{IziBoxConfiguration.LoginRequired}}</span>
            </div>
        </div>

        <div class="configRow" ng-if="IziBoxConfiguration.LoginRequired" layout="row" layout-align="start center"
             layout-wrap>
            <div class="title" flex="35">
                <b>Timeout :</b>
            </div>
            <div class="value" flex="auto">
                <span>{{IziBoxConfiguration.LoginTimeout}}</span>
            </div>
        </div>
    </md-content>

    <div layout="column" layout-align="center center">
        <div ng-if="IziBoxConfiguration == undefined" layout="column" layout-fill layout-align="center center">
            <!--<uib-progressbar style="width:50%;margin-left:auto;margin-right:auto" animate="false" value="searchIziBoxProgression.percent" type="success"></uib-progressbar>-->

            <div style="height:100px;" class="optional">
            </div>
            <div class="gaugeIziboxContainer">
                <canvas class="gaugeIzibox" id="gaugeIzibox" width="450" height="300"></canvas>
                <div layout="column" layout-align="center center" class="gaugeIziboxValue">
                    <span><b>Recherche IziBox : {{searchIziBoxProgression.step}}/{{searchIziBoxProgression.total}}&nbsp;&nbsp;&nbsp;({{searchIziBoxProgression.find}} IziBox)</b></span>
                    <md-button style="width:100px;margin-top:55px;" class="md-raised btn-rose validBtn" title="Exit"
                               ng-click="stopIziboxSearch()">
                        {{searchIziBoxProgression.find>0?"Terminer":"Ignorer"}}
                    </md-button>
                </div>
            </div>
        </div>
        <div layout="row">
            <md-button ng-if="closable" class="md-raised btn-rose validBtn" title="Exit" ng-click="exit()">
                Fermer l'application
            </md-button>
            <md-button
                    ng-if="IziBoxConfiguration.LocalIpIziBox != undefined && IziBoxConfiguration.UrlCouchDb && modelPos.hardwareId"
                    class="md-raised btn-orange validBtn" title="Valid config" ng-click="reset()">
                Rechercher IziBox
            </md-button>
            <md-button
                    ng-if="IziBoxConfiguration.LocalIpIziBox != undefined && IziBoxConfiguration.UrlCouchDb && modelPos.hardwareId"
                    class="md-raised btn-green validBtn" title="Valid config" ng-click="validConfig()">
                Ok
            </md-button>
            <md-button
                    ng-if="IziBoxConfiguration.LocalIpIziBox == undefined && IziBoxConfiguration != undefined && modelPos.hardwareId"
                    class="md-raised btn-green validBtn" title="Config index" ng-click="configIndex()">
                Configurer Index
            </md-button>
            <md-button
                    ng-if="IziBoxConfiguration.LocalIpIziBox == undefined && IziBoxConfiguration.WithoutIzibox != undefined && modelPos.hardwareId"
                    class="md-raised btn-rose validBtn" title="Start without IziBox" ng-click="validConfig()">
                Démarrer sans IziBox
            </md-button>
        </div>
    </div>
</md-content>