<section class="loading" ng-controller="LoadingController" ng-init="init()" layout="column" layout-padding layout-fill>
    <md-content layout="column" layout-align="start center" style="align-items: center" flex>
        <img src="img/logo.png" alt="" width="80" height="80"/>
        <div ng-if="!isDemo">
            <h1>Loading...</h1>
        </div>
        <h1 ng-if="isDemo">Les produits de démo</h1>
        <h1 ng-if="isDemo">sont en cours de chargement...</h1>
        <div layout="row" layout-align="start center" layout-wrap class="gaugeWrap">
            <div class="gaugeContainer">
                <canvas class="gauge" id="gaugeLoading"></canvas>
                <div class="gaugeValue" layout="column" layout-align="center center">
                    <div>Datas</div>
                    <div layout="row">
                        <div id="gaugeLoadingValue"></div>
                        %
                    </div>
                </div>
            </div>
            <div class="gaugeContainer">
                <canvas class="gauge" id="gaugeFreezeLoading"></canvas>
                <div class="gaugeValue" layout="column" layout-align="center center">
                    <div>Freeze</div>
                    <div layout="row">
                        <div id="gaugeFreezeLoadingValue"></div>
                        %
                    </div>
                </div>
            </div>
            <div class="gaugeContainer">
                <canvas class="gauge" id="gaugeReplicLoading"></canvas>
                <div class="gaugeValue" layout="column" layout-align="center center">
                    <div>Replic</div>
                    <div layout="row">
                        <div id="gaugeReplicLoadingValue"></div>
                        %
                    </div>
                </div>
            </div>
            <div class="gaugeContainer">
                <canvas class="gauge" id="gaugeOrderLoading"></canvas>
                <div class="gaugeValue" layout="column" layout-align="center center">
                    <div>Order</div>
                    <div layout="row">
                        <div id="gaugeOrderLoadingValue"></div>
                        %
                    </div>
                </div>
            </div>
        </div>
        <!--<div style="text-align:center;width:100%" ng-show="loading">
        <uib-progressbar style="width:50%;margin-left:auto;margin-right:auto" animate="false" value="percentProgress" type="success"><b>Datas {{percentProgress}}%</b></uib-progressbar>
    </div>
    <div style="text-align:center;width:100%" ng-show="freezeLoading">
        <uib-progressbar style="width:50%;margin-left:auto;margin-right:auto" animate="false" value="freezeProgress" type="success"><b>Freeze {{freezeProgress}}%</b></uib-progressbar>
    </div>
    <div style="text-align:center;width:100%" ng-show="replicLoading">
        <uib-progressbar style="width:50%;margin-left:auto;margin-right:auto" animate="false" value="replicProgress" type="success"><b>Replic {{replicProgress}}%</b></uib-progressbar>
    </div>
    <div style="text-align:center;width:100%" ng-show="orderLoading">
        <uib-progressbar style="width:50%;margin-left:auto;margin-right:auto" animate="false" value="orderProgress" type="success"><b>Orders {{orderProgress}}%</b></uib-progressbar>
    </div>
    <div style="text-align:center;width:100%" ng-show="downloading">
        <uib-progressbar style="width:50%;margin-left:auto;margin-right:auto" animate="false" value="downloadProgress" type="success"><b>{{downloadProgress}}%</b></uib-progressbar>
    </div>-->
    </md-content>
</section>