<section class="loading" ng-controller="LoadingController" ng-init="init()" layout="column" layout-padding layout-fill>
    <md-content layout="column" layout-align="start center" flex>
        <div style="text-align:center">
            <img style="width:80px;height:80px" src="img/logo.png" />
        </div>
        <div style="text-align:center" ng-if="!isDemo">
            <h1>Loading...</h1>
        </div>
        <div style="text-align:center" layout="column" layout-align="center center" ng-if="isDemo">
            <h1 style="margin:20px 0 0 0;">Les produits de démo</h1>
            <h1 style="margin:0 0 20px 0;">sont en cours de chargement...</h1>
        </div>
        <div layout="row" layout-align="center center" layout-wrap style="margin-top:100px">
            <div class="gaugeContainer">
                <canvas class="gauge" id="gaugeLoading" width="180"></canvas>
                <div class="gaugeValue" layout="column" layout-align="center center">
                    <div>Datas</div>
                    <div layout="row"><div id="gaugeLoadingValue"></div>%</div>
                </div>
            </div>
            <div class="gaugeContainer">
                <canvas class="gauge" id="gaugeFreezeLoading" width="180"></canvas>
                <div class="gaugeValue" layout="column" layout-align="center center">
                    <div>Freeze</div>
                    <div layout="row"><div id="gaugeFreezeLoadingValue"></div>%</div>
                </div>
            </div>
            <div class="gaugeContainer">
                <canvas class="gauge" id="gaugeReplicLoading" width="180"></canvas>
                <div class="gaugeValue" layout="column" layout-align="center center">
                    <div>Replic</div>
                    <div layout="row"><div id="gaugeReplicLoadingValue"></div>%</div>
                </div>
            </div>
            <div class="gaugeContainer">
                <canvas class="gauge" id="gaugeOrderLoading" width="180"></canvas>
                <div class="gaugeValue" layout="column" layout-align="center center">
                    <div>Order</div>
                    <div layout="row"><div id="gaugeOrderLoadingValue"></div>%</div>
                </div>
            </div>
        </div>
        <!--<div style="text-align:center;width:100%" ng-show="loading">
        <uib-progressbar style="width:50%;margin-left:auto;margin-right:auto" animate="false" value="percentProgress" type="success"><b>Datas {{percentProgress}}%</b></uib-progressbar>
    </div>
    <div style="text-align:center;width:100%" ng-show="freezeLoading">
        <uib-progressbar style="width:50%;margin-left:auto;margin-right:auto" animate="false" value="freezeProgress" type="success"><b>Freeze {{freezeProgress}}%</b></uib-progressbar>
    </div>
    <div style="text-align:center;width:100%" ng-show="replicLoading">
        <uib-progressbar style="width:50%;margin-left:auto;margin-right:auto" animate="false" value="replicProgress" type="success"><b>Replic {{replicProgress}}%</b></uib-progressbar>
    </div>
    <div style="text-align:center;width:100%" ng-show="orderLoading">
        <uib-progressbar style="width:50%;margin-left:auto;margin-right:auto" animate="false" value="orderProgress" type="success"><b>Orders {{orderProgress}}%</b></uib-progressbar>
    </div>
    <div style="text-align:center;width:100%" ng-show="downloading">
        <uib-progressbar style="width:50%;margin-left:auto;margin-right:auto" animate="false" value="downloadProgress" type="success"><b>{{downloadProgress}}%</b></uib-progressbar>
    </div>-->
    </md-content>
</section>