<section class="loading" ng-controller="LoadingController" ng-init="init()" layout="column" layout-padding layout-fill>
    <md-content layout="column" layout-align="start center" style="align-items: center" flex>
        <img src="img/logo.png" alt="" width="80" height="80"/>
        <div ng-if="!isDemo">
            <h1>Loading...</h1>
        </div>
        <h1 ng-if="isDemo">Les produits de démo</h1>
        <h1 ng-if="isDemo">sont en cours de chargement...</h1>
        <div layout="row" layout-align="start center" layout-wrap class="gaugeWrap">
            <div class="gaugeContainer">
                <canvas class="gauge" id="gaugeLoading"></canvas>
                <div class="gaugeValue" layout="column" layout-align="center center">
                    <div>Datas</div>
                    <div layout="row">
                        <div id="gaugeLoadingValue"></div>
                        %
                    </div>
                </div>
            </div>
            <div class="gaugeContainer">
                <canvas class="gauge" id="gaugeFreezeLoading"></canvas>
                <div class="gaugeValue" layout="column" layout-align="center center">
                    <div>Freeze</div>
                    <div layout="row">
                        <div id="gaugeFreezeLoadingValue"></div>
                        %
                    </div>
                </div>
            </div>
            <div class="gaugeContainer">
                <canvas class="gauge" id="gaugeReplicLoading"></canvas>
                <div class="gaugeValue" layout="column" layout-align="center center">
                    <div>Replic</div>
                    <div layout="row">
                        <div id="gaugeReplicLoadingValue"></div>
                        %
                    </div>
                </div>
            </div>
            <div class="gaugeContainer">
                <canvas class="gauge" id="gaugeOrderLoading"></canvas>
                <div class="gaugeValue" layout="column" layout-align="center center">
                    <div>Order</div>
                    <div layout="row">
                        <div id="gaugeOrderLoadingValue"></div>
                        %
                    </div>
                </div>
            </div>
        </div>

        <div ng-show="modelDb.databaseReady" layout="column" layout-align="center center">
            <div class="loadingMessage"> {{message}}</div>
            <md-progress-linear style="width: 280px;max-width: 80%" class="md-warn" md-mode="determinate"
                                value="{{loadingProgress}}"></md-progress-linear>
            <md-button ng-click="skipCategoryLoading = true" ng-disabled="skipCategoryLoading" class="btn-rose"
                       style="margin-top: 20px">
                Passer
            </md-button>
        </div>

    </md-content>
</section>