<md-toolbar class="catalogMenu" ng-controller="CatalogMenuController" ng-init="init()">
    <md-content class="tools" layout="row">
        <div layout="column" layout-align="center center">
            <md-button class="md-icon-button logo" aria-label="drawerMenu">
                <img class="imgLogo" src="img/logo.png" />
            </md-button>
            <div class="clock">
                <horloge format="HH:mm" style="color:#fff;"></horloge>
            </div>
        </div>
        <md-divider class="vertical-divider"></md-divider>
        <md-content layout="row" ng-show="$mdMedia('min-width: 800px')" style="background:transparent;" id="Menu">
            <div ng-repeat="category in categories track by $index" class="itemCategory" ng-click="navig(category)">
                <md-button aria-label="{{category.Name}}" class="md-icon-button linkCategory" >
                    <img class="imgCategory" ng-src="{{category.PictureUrl}}" alt="">
                </md-button>
                <div class="titleCategory" style="cursor:pointer;">{{category.Name}}</div>
            </div>
        </md-content>
        <div layout="column" layout-align="center center" ng-hide="$mdMedia('min-width: 800px')">
            <md-button class="md-icon-button logo" aria-label="categories" ng-click="$state.go('catalogBorne.Categories')">
                <img class="imgLogo" src="img/categories.png" />
            </md-button>
        </div>

        <div layout="column" layout-align="center center" ng-hide="$mdMedia('min-width: 800px')">
            <md-button class="md-icon-button logo" aria-label="categories" ng-click="$rootScope.showShoppingCart = !$rootScope.showShoppingCart">
                <img class="imgLogo" src="img/cart-drawer.png" />
            </md-button>
        </div>
        <div layout="row" flex layout-align="end start" class="userStyle">
            <div class="version" layout="column">
                <!-- <span>{{PosUserName}}</span>
                <div layout="row" layout-align="end center">
                    <span>{{Version}}</span>
                    <span class="izibox" ng-class="{'connected':IziBoxConnected}"></span>

                </div> -->
                <div layout="row" layout-align="end center">
                    <horloge format="dd-MM-yyyy" style="color:#B6B4B4;"></horloge>
                </div>
                <div layout="row" layout-align="end center" class="langIco">
                    <img src="img/FR.png" ng-click="setLanguage('fr_FR')"/>
                    <img src="img/US.png" ng-click="setLanguage('en_EN')"/>
                </div>
            </div>
            <!-- <div ng-if="!CashOpen && IziBoxConfiguration.UseCashMovement" class="infoCashMovement">
                <span class="glyphicon glyphicon-warning-sign"></span>&nbsp;
                <span translate>Veuillez renseigner le fond de caisse</span>
            </div> -->
        </div>
    </md-content>
</md-toolbar>