<md-toolbar class="catalogMenu" ng-class="{'vertical': $root.borne && $root.borneVertical}"
            ng-controller="CatalogMenuController" ng-init="init()">
    <md-content ng-style="{'flex-direction' : $rootScope.borne && $rootScope.borneVertical ? 'column' : 'row'}"
                class="toolsContainer">
                <!--ng-style="{'flex-direction' : $rootScope.borne && $rootScope.borneVertical ? 'column' : 'row'}">-->
        <div layout="column" class="tools" ng-class="{'vertical': $root.borne && $root.borneVertical}"
             ng-style="{'margin-left' : $root.borne && root.borneVertical ? '0' : '3px'}"
             layout-align="center center">
            <md-icon class="logo" md-svg-src="img/icons/logo-ip.svg"></md-icon>
            <div class="clock">
                <horloge format="HH:mm"></horloge>
            </div>
        </div>
        <md-divider ng-if="!$root.borneVertical" class="vertical-divider"></md-divider>
        <md-content style="background:transparent" id="Menu" layout-align="{{categoryAlign}}" layout="{{layoutMain}}">
                    <!--ng-style="{'flex-direction' :  $rootScope.borne && $rootScope.borneVertical ? 'column' : 'row'}">-->
            <div class="menuItems">
                <div ng-repeat="category in categories track by $index" class="itemCategory" ng-click="navig(category)">
                    <md-button aria-label="{{category.Name}}" class="md-icon-button linkCategory">
                        <img class="imgCategory" ng-src="{{category.PictureUrl}}" alt=""/>
                    </md-button>
                    <div class="titleCategory"
                         ng-class="{'vertical' : $root.borne && $root.borneVertical}"
                         layout="row" layout-align="center center">
                        {{category.Name}}
                    </div>
                </div>
            </div>
        </md-content>
        <div ng-if="$root.borne && $root.borneVertical" class="pubProductsCut catR"></div>
        <div ng-if="$root.borne && $root.borneVertical" class="pubProductsCut cat"></div>
        <md-icon ng-if="$root.borne && $root.borneVertical" class="scrollCatArrow"
                 ng-style="{ 'fill' : $root.tenantColor ? $root.tenantColor : '#98C8CC' }"
                 md-svg-src="img/icons/arrow.svg"></md-icon>
    </md-content>
</md-toolbar>