<md-content ng-controller="MiniBasketController" ng-init="init()" id="miniBasket" class="miniBasket" layout="column"
            flex>

    <div layout="column" flex>

        <div id="loyaltyRow" layout="column" class="loyaltyRow">
            <!-- TODO :  -->
            <div ng-if="currentShoppingCart.customerLoyalty && currentShoppingCart.customerLoyalty.CustomerFirstName">
                <strong ng-click="openClientModal()">
                    {{currentShoppingCart.customerLoyalty.CustomerFirstName}}
                    {{currentShoppingCart.customerLoyalty.CustomerLastName}}</strong>
                <!-- If the user has signed the legal agreement -->
                <img src="img/agreementTrue.png" ng-if="currentShoppingCart.customerLoyalty.HasValidLegalDocument"
                     style="max-width: 15px;"/>
                <img src="img/agreementFalse.png" ng-if="!currentShoppingCart.customerLoyalty.HasValidLegalDocument"
                     style="max-width: 15px;"/>

                <span class="glyphicon glyphicon-remove" ng-click="removeLoyaltyInfo()"
                      ng-if="!currentShoppingCart.ParentTicket"
                      style="float:right;font-size: 18px; margin-top: 4px; margin-right: 4px;"></span>
            </div>
            <div ng-if="currentShoppingCart.customerLoyalty
                      && currentShoppingCart.customerLoyalty.CustomerEmail
                      && !currentShoppingCart.customerLoyalty.CustomerFirstName
                      && !currentShoppingCart.customerLoyalty.CustomerLastName" ng-click="openClientModal()">
                <strong>Email : {{currentShoppingCart.customerLoyalty.CustomerEmail}}</strong>
                <!-- If the user has signed the legal agreement -->
                <img src="img/agreementTrue.png" ng-if="currentShoppingCart.customerLoyalty.HasValidLegalDocument"
                     style="max-width: 15px;"/>
                <img src="img/agreementFalse.png" ng-if="!currentShoppingCart.customerLoyalty.HasValidLegalDocument"
                     style="max-width: 15px;"/>
                <span class="glyphicon glyphicon-remove" ng-click="removeLoyaltyInfo()"
                      ng-if="!currentShoppingCart.ParentTicket"
                      style="float:right;font-size: 18px; margin-top: 4px; margin-right: 4px;"></span>
            </div>
            <div ng-if="currentShoppingCart.customerLoyalty
                      && !currentShoppingCart.customerLoyalty.CustomerEmail" ng-click="openClientModal()">
                <strong>
                    <x translate>Carte sans compte</x> : {{currentShoppingCart.customerLoyalty.Barcodes[0].Barcode}} </strong>
                <span class="glyphicon glyphicon-remove" ng-click="removeLoyaltyInfo()"
                      ng-if="!currentShoppingCart.ParentTicket"
                      style="float:right;font-size: 18px; margin-top: 4px; margin-right: 4px;"></span>
            </div>

            <div layout="column">
                <div ng-if="balancePassages">
                    <strong>
                        <x translate>Passages</x>
                    </strong>: {{balancePassages.Value}}
                </div>
                <div layout="row">
                    <div flex="50">
                        <div layout-wrap ng-if="currentShoppingCart.customerLoyalty"
                             ng-repeat="balance in currentShoppingCart.customerLoyalty.Balances ">
                            <p style="white-space: nowrap;"><strong translate>{{balance.BalanceName}}</strong> :
                                {{balance.Value}} {{balance.BalanceType}}</p>
                        </div>
                    </div>
                    <div flex="50" style="text-align:center;">
                        <a class="" ng-click="openCustomActionModal();"
                           ng-if="currentShoppingCart.customerLoyalty.CustomActions && !currentShoppingCart.ParentTicket"
                           style="cursor: pointer;">
                            <span class="btn btn-info" ng-if="currentShoppingCart.customerLoyalty.SelectedCustomAction">{{currentShoppingCart.customerLoyalty.SelectedCustomAction.Name}} </span>
                            <span ng-if="!currentShoppingCart.customerLoyalty.SelectedCustomAction"><span
                                    class="glyphicon glyphicon-retweet" style="font-size: 20Px;
                            color: green;"></span> </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div layout="column">
            <uib-accordion close-others="false">
                <uib-accordion-group id="miniBasketHeader" is-open="accordionStatus.ticketOpen"
                                     ng-click="accordionStatus.paiementOpen=!accordionStatus.ticketOpen"
                                     class="panel panel-default miniBasket">
                    <uib-accordion-heading class="firstMenu">
                        <div layout="row" class="titleCommand" ng-if="!currentShoppingCart.ParentTicket">
                            <img alt="Image" src="img/icons/icone-caisse-panier.png">
                            <span style="white-space:normal" class="text-uppercase votreCommande" translate>Votre commande</span>
                        </div>
                        <a class="btn btn-info btnOffersOnly"
                           ng-class="{'btnOffers' : IziBoxConfiguration.UseTable}"
                           ng-if="currentShoppingCart.customerLoyalty && currentShoppingCart.customerLoyalty.RelevantOffers && !currentShoppingCart.ParentTicket"
                           ng-data-notification-switch
                           ng-if-notification="{{currentShoppingCart.customerLoyalty != undefined && currentShoppingCart.customerLoyalty.RelevantOffers
                               && currentShoppingCart.customerLoyalty.RelevantOffers.length > 0 && currentShoppingCart.customerLoyalty.RelevantOffers.length}}"
                           ng-click="$event.stopPropagation();chooseRelevantOffer();">
                            <x translate>Offres</x>
                        </a>
                    </uib-accordion-heading>
                    <md-content id="miniBasketItems" class="itemsPanel" layout="column">
                        <div layout="column">
                            <div ng-repeat="step in shoppingCartLines track by $index">
                                <div ng-repeat="item in step.Items track by $index" layout="column" class="itemRow"
                                     ng-class="{'printed': item.Printed ,'partialPrinted ': item.PartialPrinted}"
                                     ng-attr-id="{{'itemRow'+item.hashkey}}"
                                     ng-click="selectLine(item)">
                                    <div layout="column">
                                        <div layout="row">
                                            <div class="productLine" layout="column" flex>
                                                <strong ng-style="item.Quantity == 0 && {'text-decoration':'line-through'}">{{item.Product.Name}}</strong>

                                                <div style="margin-left:10px" layout="row">
                                                    <strong ng-if="item.Quantity != 1">x
                                                        {{item.Quantity | number : 2}}
                                                    </strong>

                                                    <div style="display: flex; align-items: center; margin-left: 5px;">
                                                        <span> ( </span>
                                                        <span ng-if="item.IsFree"> {{0 | CurrencyFormat}}</span>
                                                        <span ng-if="!item.IsFree">
                                                            {{ (item.PriceIT + item.DiscountIT) | CurrencyFormat}}
                                                        </span>
                                                        <span ng-if="(item.DiscountIT && item.DiscountIT!=0)"> - {{ item.DiscountIT | CurrencyFormat }} </span>
                                                        <span>)</span>
                                                    </div>
                                                </div>

                                            </div>
                                            <div style="max-width:120px" layout="column"
                                                 ng-if="!currentShoppingCart.isPayed ">
                                                <div layout="row" ng-if="!currentShoppingCart.ParentTicket">
                                                    <!-- Decrement quantity -->
                                                    <md-button aria-label="decrementQty"
                                                               ng-disabled="(item.Offer != undefined || item.Quantity - 1 <= 0 )"
                                                               class="itemAction md-fab md-mini"
                                                               ng-click="$event.stopPropagation();decrementQuantity(item);">
                                                        <span class="glyphicon glyphicon-minus"></span>
                                                    </md-button>

                                                    <!-- Increment quantity -->
                                                    <md-button aria-label="incrementQty"
                                                               ng-disabled="item.Offer != undefined "
                                                               class="itemAction md-fab md-mini"
                                                               ng-click="$event.stopPropagation();incrementQuantity(item);">
                                                        <span class="glyphicon glyphicon-plus"></span>
                                                    </md-button>

                                                    <!-- Remove line -->
                                                    <md-button aria-label="removeLine"
                                                               ng-disabled="item.Offer != undefined || currentShoppingCart.Items.length <= 1 || item.Quantity == 0 || item.isPartSplitItem"
                                                               class="itemAction md-fab md-mini"
                                                               ng-click="$event.stopPropagation();removeItem(item);">
                                                        <span class="glyphicon glyphicon-trash"></span>
                                                    </md-button>
                                                </div>
                                                <div layout="row"
                                                     ng-if="(viewmodel.selectedLine == item && item.Quantity > 0) && !currentShoppingCart.ParentTicket">
                                                    <!-- edit configurable menu -->
                                                    <md-button aria-label="editMenu" class="itemAction md-fab md-mini"
                                                               ng-disabled="isMenuDisable(item)"
                                                               ng-click="$event.stopPropagation();editMenu(item);">
                                                        <span class="glyphicon glyphicon-pencil"></span>
                                                    </md-button>

                                                    <!-- comment -->
                                                    <md-button aria-label="editComment"
                                                               class="itemAction md-fab md-mini"
                                                               ng-class="{highlight: item.Comment && item.Comment.length > 0}"
                                                               ng-click="$event.stopPropagation();editComment(item);">
                                                        <span class="glyphicon glyphicon-comment"></span>
                                                    </md-button>

                                                    <!-- offer -->

                                                    <md-button aria-label="removeOffer"
                                                               ng-if=" (item.DiscountIT > 0 || item.DiscountET > 0) && currentShoppingCart.Discounts.length == 0 "
                                                               class="itemAction md-fab md-mini"
                                                               ng-click="$event.stopPropagation();removeOffer(item);">
                                                        <img src="../www/img/remove-offer.png" height="18px"
                                                             width="18px">
                                                    </md-button>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div ng-repeat="attr in item.Attributes"
                                             style="margin-left:5px;margin-right:-10px" class="attrRow"
                                             ng-class="{'printed': attr.Printed}"
                                             ng-if="!IziBoxConfiguration.StepEnabled || attr.Step == step.Step">
                                            <div layout="row">
                                                <div style="padding:0" data-ng-bind-html="attr.Name" flex="50"></div>
                                                <div flex="50" ng-if="attr.PriceAdjustment && attr.PriceAdjustment!=0"
                                                     style="padding:0;text-align:center">+ {{attr.PriceAdjustment |
                                                    CurrencyFormat }}
                                                </div>
                                            </div>
                                            <div ng-if="attr.Comment && attr.Comment!=''"
                                                 style="padding: 0 0 0 10px;font-style: italic;font-size: 13px;"
                                                 data-ng-bind-html="attr.Comment"></div>

                                        </div>
                                    </div>
                                    <span ng-if="item.Comment">{{item.Comment}}</span>
                                </div>
                            </div>
                            <div ng-if="currentShoppingCart.Shipping">
                                <hr/>
                                <x translate>Frais de Livraison</x>
                                <div ng-repeat="shipping in currentShoppingCart.Shipping.TaxDetails">
                                    {{shipping.PriceIT}}
                                </div>
                                <hr/>
                            </div>
                        </div>
                    </md-content>
                </uib-accordion-group>
            </uib-accordion>
        </div>
    </div>
    <md-content id="miniBasketInfos" class="miniBasketInfos" style="z-index: 20">
        <div class="total" layout="row" ng-if="currentShoppingCart != undefined">
            <div flex>
                <strong translate>Reste à payer</strong>
            </div>
            <div flex class="text-right">
                <!--<span ng-if="currentShoppingCart != undefined && currentShoppingCart.Repaid > 0">{{currentShoppingCart.Repaid | CurrencyFormat}}</span>-->
                <span ng-if="currentShoppingCart != undefined && currentShoppingCart.Residue > 0">{{currentShoppingCart.Residue | CurrencyFormat}}</span>
                <span ng-if="currentShoppingCart != undefined && currentShoppingCart.Credit > 0">{{currentShoppingCart.Credit | CurrencyFormat}}</span>
            </div>
        </div>
        <div class="totalVAT" layout="row">
            <div flex>
                <strong translate>Total HT</strong>
            </div>
            <div flex class="text-right">
                <span ng-if="currentShoppingCart != undefined">{{currentShoppingCart.TotalET | CurrencyFormat}}</span>
                <span ng-if="currentShoppingCart == undefined">{{0 | CurrencyFormat}}</span>
            </div>
        </div>
        <div class="totalVAT" ng-repeat="tax in filteredTaxDetails" layout="row">
            <div flex>
                <span><x translate>{{tax.TaxCode}}</x>{{" "+tax.TaxRate}}%</span>
            </div>
            <div flex class="text-right">
                <span>{{tax.TaxAmount | CurrencyFormat}}</span>
            </div>
        </div>

        <div ng-repeat="shipping in currentShoppingCart.Shipping.TaxDetails" layout="row">
            <div flex>
                <span translate>Livraison HT</span>
            </div>
            <div flex>
                <span>{{shipping.PriceET | CurrencyFormat}}</span>
            </div>
        </div>

        <div class="payments">
            <div class="totalPayment" ng-if="currentShoppingCart.BalanceUpdate != undefined"
                 layout="row">
                <div flex>
                    <span translate>Cagnotte utilisée</span>
                </div>
                <div flex>
                    <span>{{currentShoppingCart.BalanceUpdate.UpdateValue | CurrencyFormat}}</span>
                </div>
                <div>
                    <a class="btn" ng-click="$event.stopPropagation(); removeBalanceUpdate();">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </div>
            </div>
            <div class="totalPayment" ng-repeat="paymentModeRow in currentShoppingCart.PaymentModes"
                 layout="row">
                <div flex>
                    <span>{{paymentModeRow.Text}}</span>
                </div>
                <div flex>
                    <span>{{paymentModeRow.Total | CurrencyFormat}}</span>
                </div>
                <div>
                    <a class="btn" ng-click="$event.stopPropagation(); removePayment(paymentModeRow);"
                       ng-if="!currentShoppingCart.isPayed && !currentShoppingCart.ParentTicket">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </div>
            </div>
        </div>

        <div class="panel-body itemsPanel">
            <div style="margin-top: -1px;">
                <div ng-repeat="item in currentShoppingCart.Discounts" class="itemRow" layout="row">
                    <div class="productLine" flex style="margin-top: 10px">
                        <strong style="text-transform: uppercase;" translate>Remise</strong>

                        <strong> {{item.Value}}</strong>
                        <strong ng-if="item.IsPercent == false"></strong>
                        <strong ng-if="item.IsPercent == true"> %</strong>

                        <span>( {{item.Total | CurrencyFormat}} )</span>

                    </div>
                    <div flex style="padding: 0" ng-if="item.Offer == undefined">

                        <md-button aria-label="removeDiscount"
                                   class="itemAction md-fab md-mini"
                                   ng-click="removeShoppingCartDiscount(item)"
                                   ng-if="!currentShoppingCart.isPayed">
                            <span class="glyphicon glyphicon-trash"></span>
                        </md-button>
                    </div>
                </div>
            </div>
        </div>
    </md-content>
    <p ng-if="currentShoppingCart.Total > 0" class="text-uppercase titrePaiementBasket">Paiement</p>
    <div id="buttonbar" class="buttonbar" layout="column" layout-align="end stretch">
        <div class="shoppingCartActionsBar">
            <div ng-repeat="paymentMode in paymentModesAvailable">
                <a ng-if="((paymentMode.PaymentType == 7 && currentShoppingCart.Total >= IziBoxConfiguration.MinPaymentEasyTransac) || paymentMode.IsBalance) && currentShoppingCart.Residue > 0"
                   class="shoppingCartAction btn btn-success"
                   ng-click="selectPaymentMode(paymentMode)">
                    <img ng-src="{{paymentMode | PaymentTypeImg}}" alt="Image" class="imgBtnPaiement" height="25"/>
                    <span style="white-space:normal;" class="text-uppercase">{{paymentMode.Text}}</span>
                </a>
                <p ng-if="currentShoppingCart.Total < IziBoxConfiguration.MinPaymentEasyTransac && paymentMode.PaymentType == 7
                && currentShoppingCart.Residue > 0 && !currentShoppingCart.customerLoyalty"
                   style="margin-left: 80px;" translate>Veuillez payer en comptoir.</p>
            </div>
        </div>
    </div>
    <div class="borne-buttonbar" layout="center center" layout-align="column">
        <a class="shoppingCartAction btn btn-success"
           ng-click="confirmBorneOrder()"
           ng-class="{ 'disabled' : !currentShoppingCart
               || !(currentShoppingCart.Residue == currentShoppingCart.Total || currentShoppingCart.Residue == 0)}"
           flex>
            <span style="white-space:normal"><img class="btn-action-image" alt="Image" src="img/valid.png"></span>
        </a>
        <a class="shoppingCartAction btn btn-danger"
           ng-click="cancelShoppingCart()" flex
           ng-if="!currentShoppingCart.isPayed">
            <span style="white-space:normal"><img class="btn-action-image" alt="Image" src="img/trash.png"></span>
        </a>
    </div>
</md-content>